In [1]:
import pandas as pd
import numpy as np 
import sqlite3

#### 1. connect to database

In [3]:
con = sqlite3.connect('../../database/database.db')

In [10]:
df = pd.read_sql_query("""
    SELECT g1.id, g2.id, g2.user_id, g1.timestamp_ms as time_1, g2.timestamp_ms as time_2
    FROM general_tweets as g1, general_tweets as g2
    WHERE g1.id == g2.in_reply_to_status_id AND g2.user_id == '56377143' 
""", con)

#### 2. augemented data with reply time

In [11]:
df.head()

,id,id,user_id,time_1,time_2
0,1.1311830432412303e+18,1.1311852592892068e+18,56377143,2019-05-22 13:00:28.530,2019-05-22 13:09:16.877
1,1.1311824743804232e+18,1.1311879787710259e+18,56377143,2019-05-22 12:58:12.903,2019-05-22 13:20:05.252
2,1.1311830804741243e+18,1.1311880285281075e+18,56377143,2019-05-22 13:00:37.407,2019-05-22 13:20:17.115
3,1.1311824743804232e+18,1.1311880893287342e+18,56377143,2019-05-22 12:58:12.903,2019-05-22 13:20:31.611
4,1.1311856772305756e+18,1.1311882878031421e+18,56377143,2019-05-22 13:10:56.522,2019-05-22 13:21:18.931

In [16]:
df['time_1'] = pd.to_datetime(df.time_1)
df['time_2'] = pd.to_datetime(df.time_2)
df.drop(columns=['id'], inplace=True)

In [25]:
df['reply_time'] = df['time_2'] - df['time_1']
df['reply_time_in_seconds'] = pd.Series([df['reply_time'].iloc[i].seconds for i in range(len(df))])
df['reply_time_in_minutes'] = df['reply_time_in_seconds']/60

In [26]:
df.head()

,user_id,time_1,time_2,reply_time,reply_time_in_seconds,reply_time_in_minutes
0,56377143,2019-05-22 13:00:28.530,2019-05-22 13:09:16.877,0 days 00:08:48.347000,528,8.800000
1,56377143,2019-05-22 12:58:12.903,2019-05-22 13:20:05.252,0 days 00:21:52.349000,1312,21.866667
2,56377143,2019-05-22 13:00:37.407,2019-05-22 13:20:17.115,0 days 00:19:39.708000,1179,19.650000
3,56377143,2019-05-22 12:58:12.903,2019-05-22 13:20:31.611,0 days 00:22:18.708000,1338,22.300000
4,56377143,2019-05-22 13:10:56.522,2019-05-22 13:21:18.931,0 days 00:10:22.409000,622,10.366667

#### 3. Check the time

In [29]:
all_df = pd.read_sql_query("""
    SELECT timestamp_ms
    FROM general_tweets
""", con)

In [30]:
df['timestamp_ms'] = pd.to_datetime(df.timestamp_ms)

AttributeError: 'DataFrame' object has no attribute 'timestamp_ms'