In [52]:
import pandas as pd 
import numpy as np 
from typing import Dict, List, Tuple
import os 
import sqlite3
import time 
from Tools.Cleaning import remove_duplicated_text, drop_invalid_reply, filter_non_airlines_conversation, add_airlines_id, change_type
from definitions.airlines import airlines_id, airlines_name
import re

In [53]:
#path
path_database = '../database/database.db'
path_pickle = '../pickle_files/everything_tweets.p'

In [54]:
#connect to the database 
con = sqlite3.connect(path_database)
cur = con.cursor()

In [ ]:
#pull data
query = '''
    SELECT id, 
    in_reply_to_status_id,
    in_reply_to_user_id,
    timestamp_ms,
    user_id,
    text
    FROM general_tweets
'''
df = pd.read_sql_query(query, con)

In [55]:
#fix type for timestamp object
df['timestamp_ms'] = pd.to_datetime(df.timestamp_ms)

In [56]:
#option 2: pull data from pickle file
df = pd.read_pickle(path_pickle)

#### 2. Define new conversation

In [57]:
class Conversation:
    """ Represent a conversation
    """
    def __init__(
        self, 
        person1_id : int,
        person2_id : int,
        lst_tweets_id: List[int],
        airline : str
    ):
        """initialize a person
        :parameter user id of person 1, user id of person 2, a list of id a tweets in the conversation,
        name of the airline this conversation belong to
        """
        self.person1_id = person1_id
        self.person2_id = person2_id
        self.lst_tweets_id = lst_tweets_id
        self.airline = airline 
        
#     def extract_conversation(df : pd.DataFrame) -> List[Conversation]:

#### 3. Extract conversation

In [58]:
df = df.replace(to_replace='', value=np.NaN)

In [59]:
df_data = df[[
    'id',
    'user_id',
    'in_reply_to_status_id',
    'in_reply_to_user_id',
]]

In [60]:
df_data = df_data.astype({
    'id' : 'float64',
    'user_id' : 'float64',
    'in_reply_to_status_id' : 'float64',
    'in_reply_to_user_id' : 'float64'
})

df_data = df_data.astype({
    'user_id' : 'Int64'
})

In [61]:
#drop invalid reply
df_data = drop_invalid_reply(df_data)

In [62]:
df_data[df_data.user_id.isna()]

Empty DataFrame
Columns: [id, user_id, in_reply_to_status_id, in_reply_to_user_id]
Index: []

In [63]:
def extract_conversation(df: pd.DataFrame, max_level=7) -> pd.DataFrame:
    df_copy = df[[
        'id',
        'user_id',
        'in_reply_to_status_id',
        'in_reply_to_user_id',
    ]].copy()
    
    #initialize the conversation dataframe
    out = df_copy.merge(df_data, left_on=['id'], right_on=['in_reply_to_status_id'], suffixes=['_1', '_2'])
    out = out.drop(columns=[x for x in out.columns[-2:]])
    conversation_level = 3
    
    #filter out non airlines conversation 
    out = filter_non_airlines_conversation(['user_id_1', 'user_id_2'], out, airlines_id)
    
    #filter out only conversations start from an original tweet or an airlines-crossroads tweet
    or_lst = [tw_id for tw_id in out[out.in_reply_to_status_id_1.isna()].id_1]  # get tweets id of original one
    cr_lst = [tw_id for tw_id in out[out.in_reply_to_user_id_1 == out.user_id_2].id_1] # get tweet airlines-crossroads tweet
    out = out[out['id_1'].isin(set(or_lst).union(set(cr_lst)))]
    
    # extract only the reply tweets to map to original
    df_reply = df_copy.dropna(subset=['in_reply_to_status_id', 'in_reply_to_user_id']) 
    df_reply = df_reply.drop_duplicates(subset=['in_reply_to_status_id', 'user_id'])
    
    #map tweets together into a conversation 
    while not df_copy[df.columns[-1]].isnull().all() and conversation_level <= max_level:
        out = out.merge(df_reply,
           left_on=['id_' + str(conversation_level - 1), 'user_id_' + str(conversation_level - 2)],
           right_on=['in_reply_to_status_id', 'user_id'],
           how='left')
        out = out.drop(columns=[x for x in out.columns[-2:]])
        out = out.rename(columns={'id' : 'id_' + str(conversation_level), 'user_id' : 'user_id_' + str(conversation_level)})
        conversation_level += 1
        print(conversation_level)
    
    #clean the final table 
    out['reply'] = out['in_reply_to_status_id_1'].notna()
    out = out.drop(columns=['in_reply_to_status_id_1', 'in_reply_to_user_id_1'])
    out = add_airlines_id(out, lst=['user_id_1', 'user_id_2'])
    
    #filter out the ones have only 2 tweets involve
    out = out.dropna(subset=['id_4'])
    
    # add a conversation_opener attributes
    lst = []
    for x in out.user_id_1.isin(airlines_id.values()):
        if x:
            lst.append('airline')
        else:
            lst.append('customer')
    out['conversation_opener'] = lst
    
    return out[sorted(out.columns)]

In [64]:
# Extract conversations
conversation = extract_conversation(df_data, max_level=7)

4
5
6
7
8

In [65]:
conversation

,airline_id,airline_name,conversation_opener,id_1,id_2,id_3,id_4,id_5,id_6,id_7,reply,user_id_1,user_id_2,user_id_3,user_id_4,user_id_5,user_id_6,user_id_7
0,18332190,British_Airways,customer,1.131173e+18,1.131176e+18,1.131180e+18,1.131316e+18,1.131320e+18,1.131322e+18,NaN,False,1662186764,18332190,1662186764,18332190,1662186764,18332190,<NA>
11,18332190,British_Airways,airline,1.131176e+18,1.131180e+18,1.131316e+18,1.131320e+18,1.131322e+18,NaN,NaN,True,18332190,1662186764,18332190,1662186764,18332190,<NA>,<NA>
19,218730857,Qantas,customer,1.131177e+18,1.131180e+18,1.131187e+18,1.131187e+18,1.131188e+18,1.131192e+18,1.131194e+18,True,226833772,218730857,226833772,218730857,226833772,218730857,226833772
20,20626359,VirginAtlantic,customer,1.131177e+18,1.131183e+18,1.131185e+18,1.131193e+18,NaN,NaN,NaN,False,22672731,20626359,22672731,20626359,<NA>,<NA>,<NA>
23,22536055,AmericanAir,customer,1.131178e+18,1.131186e+18,1.131384e+18,1.131387e+18,1.131571e+18,NaN,NaN,False,901094791093653504,22536055,901094791093653504,22536055,901094791093653504,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16326,18332190,British_Airways,customer,1.135087e+18,1.135091e+18,1.135092e+18,1.135097e+18,1.135098e+18,NaN,NaN,True,1143830054,18332190,1143830054,18332190,1143830054,<NA>,<NA>
16330,18332190,British_Airways,airline,1.135089e+18,1.135089e+18,1.135092e+18,1.135094e+18,NaN,NaN,NaN,True,18332190,949689445539831808,18332190,949689445539831808,<NA>,<NA>,<NA>
16333,38676903,easyJet,customer,1.135090e+18,1.135097e+18,1.135098e+18,1.135100e+18,NaN,NaN,NaN,True,143842056,38676903,143842056,38676903,<NA>,<NA>,<NA>
16336,18332190,British_Airways,airline,1.135091e+18,1.135092e+18,1.135097e+18,1.135098e+18,NaN,NaN,NaN,True,18332190,1143830054,18332190,1143830054,<NA>,<NA>,<NA>
16349,56377143,KLM,customer,1.135095e+18,1.135097e+18,1.135098e+18,1.135101e+18,NaN,NaN,NaN,False,1918871,56377143,1918871,56377143,<NA>,<NA>,<NA>

In [66]:
#extracting KLM only conversations
convo_KLM = conversation['airline_name'] == "KLM"
convo_snip1 = conversation[convo_KLM]
#counting rows of the extracted df
count_row_KLM = convo_snip1.shape[0]

#British Airways
convo_Brit = conversation['airline_name'] == "British_Airways"
convo_snip2 = conversation[convo_Brit]
count_row_Brit = convo_snip2.shape[0]

#Qantas
convo_Qantas = conversation['airline_name'] == "Qantas"
convo_snip3 = conversation[convo_Qantas]
count_row_Qantas = convo_snip3.shape[0]

#VirginAtlantic
convo_Virgin = conversation['airline_name'] == "VirginAtlantic"
convo_snip4 = conversation[convo_Virgin]
count_row_Virgin = convo_snip4.shape[0]

#AirFrance: 106062176
convo_France = conversation['airline_name'] == "AirFrance"
convo_snip5 = conversation[convo_France]
count_row_France = convo_snip5.shape[0]

#AmericanAir: 22536055
convo_American = conversation['airline_name'] == "AmericanAir"
convo_snip6 = conversation[convo_American]
count_row_American = convo_snip6.shape[0]

#Lufthansa: 124476322
convo_Luft = conversation['airline_name'] == "Lufthansa"
convo_snip7 = conversation[convo_Luft]
count_row_Luft = convo_snip7.shape[0]

#AirBerlin: 26223583
convo_Berlin = conversation['airline_name'] == "AirBerlin"
convo_snip8 = conversation[convo_Berlin]
count_row_Berlin = convo_snip8.shape[0]

#AirBerlin assist: 2182373406
convo_BerlinAss = conversation['airline_name'] == "AirBerlin assist"
convo_snip9 = conversation[convo_BerlinAss]
count_row_BerlinAss = convo_snip9.shape[0]

#easyJet: 38676903
convo_easy = conversation['airline_name'] == "easyJet"
convo_snip10 = conversation[convo_easy]
count_row_easy = convo_snip10.shape[0]

#RyanAir: 1542862735
convo_Ryan = conversation['airline_name'] == "RyanAir"
convo_snip11 = conversation[convo_Ryan]
count_row_Ryan = convo_snip11.shape[0]

#SingaporeAir: 253340062
convo_Sing = conversation['airline_name'] == "SingaporeAir"
convo_snip12 = conversation[convo_Sing]
count_row_Sing = convo_snip12.shape[0]

#EtihadAirways: 45621423
convo_Etihad = conversation['airline_name'] == "EtihadAirways"
convo_snip13 = conversation[convo_Etihad]
count_row_Etihad = convo_snip13.shape[0]

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
# normal plot
airlines = ['KLM','British Airways','AirFrance','AmericanAir','Lufthansa',
    'AirBerlin','AirBerlin assist','easyJet','RyanAir','SingaporeAir',
    'Qantas','EtihadAirways','VirginAtlantic']
conversations = [count_row_KLM,count_row_Brit,count_row_France,count_row_American,count_row_Luft,
                 count_row_Berlin,count_row_BerlinAss,count_row_easy,count_row_Ryan,count_row_Sing,
                 count_row_Qantas,count_row_Etihad,count_row_Virgin]
plt.bar(airlines, conversations, width = 0.8)
plt.xlabel("Airline")
plt.xticks(rotation='vertical')
plt.ylabel("nr. of conversations");

In [ ]:
airlines = ['KLM','British Airways','AirFrance','AmericanAir','Lufthansa',
    'AirBerlin','AirBerlin assist','easyJet','RyanAir','SingaporeAir',
    'Qantas','EtihadAirways','VirginAtlantic']
conversations = [count_row_KLM,count_row_Brit,count_row_France,count_row_American,count_row_Luft,
                 count_row_Berlin,count_row_BerlinAss,count_row_easy,count_row_Ryan,count_row_Sing,
                 count_row_Qantas,count_row_Etihad,count_row_Virgin]

#normal plot

bars = plt.barh(airlines,conversations)

#turn

for  bar in bars:
    width = bar.get_width()
    label_y = bar.get_y() + bar.get_height() / 2
    plt.text(width, label_y, s=f'{width}')

plt.xlabel("Nr. of conversations")
plt.ylabel("Airlines")
plt.title("Nr. of conversations per airline")
    
plt.show()

In [67]:
convo_snip=convo_snip1
convo_snip.reset_index()

,index,airline_id,airline_name,conversation_opener,id_1,id_2,id_3,id_4,id_5,id_6,id_7,reply,user_id_1,user_id_2,user_id_3,user_id_4,user_id_5,user_id_6,user_id_7
0,73,56377143,KLM,airline,1.131188e+18,1.131191e+18,1.131194e+18,1.131287e+18,1.131293e+18,1.131305e+18,NaN,True,56377143,824207173425262592,56377143,824207173425262592,56377143,824207173425262592,<NA>
1,85,56377143,KLM,customer,1.131191e+18,1.131194e+18,1.131287e+18,1.131293e+18,1.131305e+18,NaN,NaN,True,824207173425262592,56377143,824207173425262592,56377143,824207173425262592,<NA>,<NA>
2,105,56377143,KLM,airline,1.131194e+18,1.131287e+18,1.131293e+18,1.131305e+18,NaN,NaN,NaN,True,56377143,824207173425262592,56377143,824207173425262592,<NA>,<NA>,<NA>
3,454,56377143,KLM,customer,1.131277e+18,1.131283e+18,1.131284e+18,1.131296e+18,NaN,NaN,NaN,False,2186639444,56377143,2186639444,56377143,<NA>,<NA>,<NA>
4,464,56377143,KLM,customer,1.131282e+18,1.131283e+18,1.131284e+18,1.131285e+18,1.131286e+18,1.131288e+18,NaN,False,977096243204804608,56377143,977096243204804608,56377143,977096243204804608,56377143,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,15840,56377143,KLM,customer,1.134903e+18,1.134908e+18,1.134910e+18,1.134911e+18,1.134912e+18,NaN,NaN,False,19294325,56377143,19294325,56377143,19294325,<NA>,<NA>
170,15856,56377143,KLM,airline,1.134908e+18,1.134910e+18,1.134911e+18,1.134912e+18,NaN,NaN,NaN,True,56377143,19294325,56377143,19294325,<NA>,<NA>,<NA>
171,16324,56377143,KLM,customer,1.135087e+18,1.135090e+18,1.135091e+18,1.135093e+18,NaN,NaN,NaN,False,737654755,56377143,737654755,56377143,<NA>,<NA>,<NA>
172,16325,56377143,KLM,customer,1.135087e+18,1.135089e+18,1.135095e+18,1.135097e+18,NaN,NaN,NaN,False,3337513277,56377143,3337513277,56377143,<NA>,<NA>,<NA>
173,16349,56377143,KLM,customer,1.135095e+18,1.135097e+18,1.135098e+18,1.135101e+18,NaN,NaN,NaN,False,1918871,56377143,1918871,56377143,<NA>,<NA>,<NA>

In [157]:
#empty list
list = []

In [163]:
for row, column in convo_ids.iteritems():
    list.append(column)

In [164]:
list

[73       1.131188e+18
 85       1.131191e+18
 105      1.131194e+18
 454      1.131277e+18
 464      1.131282e+18
              ...
 15840    1.134903e+18
 15856    1.134908e+18
 16324    1.135087e+18
 16325    1.135087e+18
 16349    1.135095e+18
 Name: id_1, Length: 174, dtype: float64,
 73       1.131191e+18
 85       1.131194e+18
 105      1.131287e+18
 454      1.131283e+18
 464      1.131283e+18
              ...
 15840    1.134908e+18
 15856    1.134910e+18
 16324    1.135090e+18
 16325    1.135089e+18
 16349    1.135097e+18
 Name: id_2, Length: 174, dtype: float64,
 73       1.131194e+18
 85       1.131287e+18
 105      1.131293e+18
 454      1.131284e+18
 464      1.131284e+18
              ...
 15840    1.134910e+18
 15856    1.134911e+18
 16324    1.135091e+18
 16325    1.135095e+18
 16349    1.135098e+18
 Name: id_3, Length: 174, dtype: float64,
 73       1.131287e+18
 85       1.131293e+18
 105      1.131305e+18
 454      1.131296e+18
 464      1.131285e+18
              ...
 15840    1.134911e+18
 15856    1.134912e+18
 16324    1.135093e+18
 16325    1.135097e+18
 16349    1.135101e+18
 Name: id_4, Length: 174, dtype: float64,
 73       1.131293e+18
 85       1.131305e+18
 105               NaN
 454               NaN
 464      1.131286e+18
              ...
 15840    1.134912e+18
 15856             NaN
 16324             NaN
 16325             NaN
 16349             NaN
 Name: id_5, Length: 174, dtype: float64,
 73       1.131305e+18
 85                NaN
 105               NaN
 454               NaN
 464      1.131288e+18
              ...
 15840             NaN
 15856             NaN
 16324             NaN
 16325             NaN
 16349             NaN
 Name: id_6, Length: 174, dtype: float64,
 73      NaN
 85      NaN
 105     NaN
 454     NaN
 464     NaN
          ..
 15840   NaN
 15856   NaN
 16324   NaN
 16325   NaN
 16349   NaN
 Name: id_7, Length: 174, dtype: float64,
 73       1.131188e+18
 85       1.131191e+18
 105      1.131194e+18
 454      1.131277e+18
 464      1.131282e+18
              ...
 15840    1.134903e+18
 15856    1.134908e+18
 16324    1.135087e+18
 16325    1.135087e+18
 16349    1.135095e+18
 Name: id_1, Length: 174, dtype: float64,
 73       1.131191e+18
 85       1.131194e+18
 105      1.131287e+18
 454      1.131283e+18
 464      1.131283e+18
              ...
 15840    1.134908e+18
 15856    1.134910e+18
 16324    1.135090e+18
 16325    1.135089e+18
 16349    1.135097e+18
 Name: id_2, Length: 174, dtype: float64,
 73       1.131194e+18
 85       1.131287e+18
 105      1.131293e+18
 454      1.131284e+18
 464      1.131284e+18
              ...
 15840    1.134910e+18
 15856    1.134911e+18
 16324    1.135091e+18
 16325    1.135095e+18
 16349    1.135098e+18
 Name: id_3, Length: 174, dtype: float64,
 73       1.131287e+18
 85       1.131293e+18
 105      1.131305e+18
 454      1.131296e+18
 464      1.131285e+18
              ...
 15840    1.134911e+18
 15856    1.134912e+18
 16324    1.135093e+18
 16325    1.135097e+18
 16349    1.135101e+18
 Name: id_4, Length: 174, dtype: float64,
 73       1.131293e+18
 85       1.131305e+18
 105               NaN
 454               NaN
 464      1.131286e+18
              ...
 15840    1.134912e+18
 15856             NaN
 16324             NaN
 16325             NaN
 16349             NaN
 Name: id_5, Length: 174, dtype: float64,
 73       1.131305e+18
 85                NaN
 105               NaN
 454               NaN
 464      1.131288e+18
              ...
 15840             NaN
 15856             NaN
 16324             NaN
 16325             NaN
 16349             NaN
 Name: id_6, Length: 174, dtype: float64,
 73      NaN
 85      NaN
 105     NaN
 454     NaN
 464     NaN
          ..
 15840   NaN
 15856   NaN
 16324   NaN
 16325   NaN
 16349   NaN
 Name: id_7, Length: 174, dtype: float64,
 73       1.131188e+18
 85       1.131191e+18
 105      1.131194e+18
 454      1.131277e+18
 464      1.131282e+18
              ...
 15840    1.134903e+18
 15856    1.134908e+18
 16324    1.135087e+18
 16325    1.135087e+18
 16349    1.135095e+18
 Name: id_1, Length: 174, dtype: float64,
 73       1.131191e+18
 85       1.131194e+18
 105      1.131287e+18
 454      1.131283e+18
 464      1.131283e+18
              ...
 15840    1.134908e+18
 15856    1.134910e+18
 16324    1.135090e+18
 16325    1.135089e+18
 16349    1.135097e+18
 Name: id_2, Length: 174, dtype: float64,
 73       1.131194e+18
 85       1.131287e+18
 105      1.131293e+18
 454      1.131284e+18
 464      1.131284e+18
              ...
 15840    1.134910e+18
 15856    1.134911e+18
 16324    1.135091e+18
 16325    1.135095e+18
 16349    1.135098e+18
 Name: id_3, Length: 174, dtype: float64,
 73       1.131287e+18
 85       1.131293e+18
 105      1.131305e+18
 454      1.131296e+18
 464      1.131285e+18
              ...
 15840    1.134911e+18
 15856    1.134912e+18
 16324    1.135093e+18
 16325    1.135097e+18
 16349    1.135101e+18
 Name: id_4, Length: 174, dtype: float64,
 73       1.131293e+18
 85       1.131305e+18
 105               NaN
 454               NaN
 464      1.131286e+18
              ...
 15840    1.134912e+18
 15856             NaN
 16324             NaN
 16325             NaN
 16349             NaN
 Name: id_5, Length: 174, dtype: float64,
 73       1.131305e+18
 85                NaN
 105               NaN
 454               NaN
 464      1.131288e+18
              ...
 15840             NaN
 15856             NaN
 16324             NaN
 16325             NaN
 16349             NaN
 Name: id_6, Length: 174, dtype: float64,
 73      NaN
 85      NaN
 105     NaN
 454     NaN
 464     NaN
          ..
 15840   NaN
 15856   NaN
 16324   NaN
 16325   NaN
 16349   NaN
 Name: id_7, Length: 174, dtype: float64,
 73       1.131188e+18
 85       1.131191e+18
 105      1.131194e+18
 454      1.131277e+18
 464      1.131282e+18
              ...
 15840    1.134903e+18
 15856    1.134908e+18
 16324    1.135087e+18
 16325    1.135087e+18
 16349    1.135095e+18
 Name: id_1, Length: 174, dtype: float64,
 73       1.131191e+18
 85       1.131194e+18
 105      1.131287e+18
 454      1.131283e+18
 464      1.131283e+18
              ...
 15840    1.134908e+18
 15856    1.134910e+18
 16324    1.135090e+18
 16325    1.135089e+18
 16349    1.135097e+18
 Name: id_2, Length: 174, dtype: float64,
 73       1.131194e+18
 85       1.131287e+18
 105      1.131293e+18
 454      1.131284e+18
 464      1.131284e+18
              ...
 15840    1.134910e+18
 15856    1.134911e+18
 16324    1.135091e+18
 16325    1.135095e+18
 16349    1.135098e+18
 Name: id_3, Length: 174, dtype: float64,
 73       1.131287e+18
 85       1.131293e+18
 105      1.131305e+18
 454      1.131296e+18
 464      1.131285e+18
              ...
 15840    1.134911e+18
 15856    1.134912e+18
 16324    1.135093e+18
 16325    1.135097e+18
 16349    1.135101e+18
 Name: id_4, Length: 174, dtype: float64,
 73       1.131293e+18
 85       1.131305e+18
 105               NaN
 454               NaN
 464      1.131286e+18
              ...
 15840    1.134912e+18
 15856             NaN
 16324             NaN
 16325             NaN
 16349             NaN
 Name: id_5, Length: 174, dtype: float64,
 73       1.131305e+18
 85                NaN
 105               NaN
 454               NaN
 464      1.131288e+18
              ...
 15840             NaN
 15856             NaN
 16324             NaN
 16325             NaN
 16349             NaN
 Name: id_6, Length: 174, dtype: float64,
 73      NaN
 85      NaN
 105     NaN
 454     NaN
 464     NaN
          ..
 15840   NaN
 15856   NaN
 16324   NaN
 16325   NaN
 16349   NaN
 Name: id_7, Length: 174, dtype: float64]

In [150]:
list = []

convo_ids = convo_snip.iloc[:,3:10]
for column in convo_ids:
    list.append(convo_ids[column].notnull().sum())

In [151]:
list, count_row_KLM

([174, 174, 174, 174, 70, 26, 9], 174)

In [138]:
from statistics import mean, mode

count_1 = count_row_KLM - list[0]
count_2 = count_row_KLM - list[1]
count_3 = count_row_KLM - list[2]
count_4 = count_row_KLM - list[3] - count_5 - count_6 - count_7
count_5 = count_row_KLM - list[4] - count_6 - count_7
count_6 = count_row_KLM - list[5] - count_7
count_7 = count_row_KLM - list[6]

length_convo = [count_4, count_5, count_6, count_7]
length_convo, mode(length_convo)

([69, 35, 17, 9], 69)

In [152]:
list = []

for i in convo_ids.itertuples():
    list.append(i)
    
list

[Pandas(Index=73, id_1=1.1311882878031421e+18, id_2=1.131191297312723e+18, id_3=1.1311944886034637e+18, id_4=1.13128715853756e+18, id_5=1.1312928137763021e+18, id_6=1.1313054572373197e+18, id_7=nan),
 Pandas(Index=85, id_1=1.131191297312723e+18, id_2=1.1311944886034637e+18, id_3=1.13128715853756e+18, id_4=1.1312928137763021e+18, id_5=1.1313054572373197e+18, id_6=nan, id_7=nan),
 Pandas(Index=105, id_1=1.1311944886034637e+18, id_2=1.13128715853756e+18, id_3=1.1312928137763021e+18, id_4=1.1313054572373197e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=454, id_1=1.131277493674156e+18, id_2=1.1312826816926106e+18, id_3=1.1312837116795085e+18, id_4=1.1312963914211533e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=464, id_1=1.1312816890518282e+18, id_2=1.1312833202669937e+18, id_3=1.1312839552301056e+18, id_4=1.1312853263858852e+18, id_5=1.1312858794509844e+18, id_6=1.1312878382160814e+18, id_7=nan),
 Pandas(Index=470, id_1=1.1312825512245862e+18, id_2=1.1318708414472888e+18, id_3=1.1336142712109711e+18, id_4=1.1336156183458324e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=475, id_1=1.1312833202669937e+18, id_2=1.1312839552301056e+18, id_3=1.1312853263858852e+18, id_4=1.1312858794509844e+18, id_5=1.1312878382160814e+18, id_6=nan, id_7=nan),
 Pandas(Index=478, id_1=1.1312839552301056e+18, id_2=1.1312853263858852e+18, id_3=1.1312858794509844e+18, id_4=1.1312878382160814e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=578, id_1=1.1313085402183188e+18, id_2=1.1313095549213532e+18, id_3=1.1313103498005258e+18, id_4=1.1313120817714012e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=898, id_1=1.131433883243864e+18, id_2=1.1314353818602947e+18, id_3=1.1314359630356562e+18, id_4=1.1314371899618017e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=933, id_1=1.1314502230820372e+18, id_2=1.131452882539221e+18, id_3=1.1314533124805468e+18, id_4=1.1314560852300677e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=1024, id_1=1.1314768276404224e+18, id_2=1.131478457509122e+18, id_3=1.1314843446258483e+18, id_4=1.1314855839545917e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=1074, id_1=1.1314884146777743e+18, id_2=1.1314922684840428e+18, id_3=1.1314940025141699e+18, id_4=1.1314949888508355e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=1083, id_1=1.1314901478942188e+18, id_2=1.1314916932645478e+18, id_3=1.1314934313003008e+18, id_4=1.1315006889603154e+18, id_5=1.1315048575741911e+18, id_6=1.1315153340857508e+18, id_7=nan),
 Pandas(Index=1090, id_1=1.1314916932645478e+18, id_2=1.1314934313003008e+18, id_3=1.1315006889603154e+18, id_4=1.1315048575741911e+18, id_5=1.1315153340857508e+18, id_6=nan, id_7=nan),
 Pandas(Index=1094, id_1=1.1314934313003008e+18, id_2=1.1315006889603154e+18, id_3=1.1315048575741911e+18, id_4=1.1315153340857508e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=1138, id_1=1.1315026751016591e+18, id_2=1.1315041386244137e+18, id_3=1.1315055931754783e+18, id_4=1.1315066253643203e+18, id_5=1.1315307409513923e+18, id_6=nan, id_7=nan),
 Pandas(Index=1142, id_1=1.1315041386244137e+18, id_2=1.1315055931754783e+18, id_3=1.1315066253643203e+18, id_4=1.1315307409513923e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=1203, id_1=1.1315165361313464e+18, id_2=1.1315172654158152e+18, id_3=1.1315191383320617e+18, id_4=1.1315235298143355e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=1216, id_1=1.131517779734143e+18, id_2=1.1315200157092127e+18, id_3=1.1315204887050158e+18, id_4=1.1315245298623898e+18, id_5=1.131524932733739e+18, id_6=nan, id_7=nan),
 Pandas(Index=1227, id_1=1.1315200157092127e+18, id_2=1.1315204887050158e+18, id_3=1.1315245298623898e+18, id_4=1.131524932733739e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=1518, id_1=1.1318105415577682e+18, id_2=1.1318116709621883e+18, id_3=1.1318189870866555e+18, id_4=1.1318201721914368e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=1775, id_1=1.1318724680949146e+18, id_2=1.1318774635864228e+18, id_3=1.1318777479980564e+18, id_4=1.131878489097941e+18, id_5=1.1318806776648745e+18, id_6=nan, id_7=nan),
 Pandas(Index=1804, id_1=1.1318774635864228e+18, id_2=1.1318777479980564e+18, id_3=1.131878489097941e+18, id_4=1.1318806776648745e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=1887, id_1=1.1318965847598572e+18, id_2=1.1318973994992845e+18, id_3=1.1323684096756204e+18, id_4=1.1323711259824415e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=2146, id_1=1.1319428468089528e+18, id_2=1.131944283517399e+18, id_3=1.131951445111124e+18, id_4=1.1319529178738647e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=2245, id_1=1.1319636294426173e+18, id_2=1.1319648982656983e+18, id_3=1.1319666158122271e+18, id_4=1.1319726168253194e+18, id_5=1.1319763073849549e+18, id_6=1.1319955225443492e+18, id_7=1.1319990635561533e+18),
 Pandas(Index=2253, id_1=1.1319648982656983e+18, id_2=1.1319666158122271e+18, id_3=1.1319726168253194e+18, id_4=1.1319763073849549e+18, id_5=1.1319955225443492e+18, id_6=1.1319990635561533e+18, id_7=1.1323024752377569e+18),
 Pandas(Index=2263, id_1=1.1319666158122271e+18, id_2=1.1319726168253194e+18, id_3=1.1319763073849549e+18, id_4=1.1319955225443492e+18, id_5=1.1319990635561533e+18, id_6=1.1323024752377569e+18, id_7=nan),
 Pandas(Index=2296, id_1=1.1319726168253194e+18, id_2=1.1319763073849549e+18, id_3=1.1319955225443492e+18, id_4=1.1319990635561533e+18, id_5=1.1323024752377569e+18, id_6=nan, id_7=nan),
 Pandas(Index=2309, id_1=1.1319745212448686e+18, id_2=1.1319777922147656e+18, id_3=1.1319802651595735e+18, id_4=1.1320128899366052e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=2322, id_1=1.1319763073849549e+18, id_2=1.1319955225443492e+18, id_3=1.1319990635561533e+18, id_4=1.1323024752377569e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=2384, id_1=1.1319933419005256e+18, id_2=1.1319960414846894e+18, id_3=1.1319966472763392e+18, id_4=1.1320063655499899e+18, id_5=1.1320069328296141e+18, id_6=1.1320103041188987e+18, id_7=nan),
 Pandas(Index=2405, id_1=1.1319960414846894e+18, id_2=1.1319966472763392e+18, id_3=1.1320063655499899e+18, id_4=1.1320069328296141e+18, id_5=1.1320103041188987e+18, id_6=nan, id_7=nan),
 Pandas(Index=2410, id_1=1.1319966472763392e+18, id_2=1.1320063655499899e+18, id_3=1.1320069328296141e+18, id_4=1.1320103041188987e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=2512, id_1=1.1320180529613742e+18, id_2=1.1320184829696041e+18, id_3=1.1320198477921444e+18, id_4=1.1320205236831437e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=2897, id_1=1.132116735912489e+18, id_2=1.1321176283891384e+18, id_3=1.1321234485353759e+18, id_4=1.1321265014392504e+18, id_5=1.1321311114448978e+18, id_6=nan, id_7=nan),
 Pandas(Index=2900, id_1=1.1321176283891384e+18, id_2=1.1321234485353759e+18, id_3=1.1321265014392504e+18, id_4=1.1321311114448978e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=2937, id_1=1.1321417299629711e+18, id_2=1.1321441893435228e+18, id_3=1.1321571513199411e+18, id_4=1.1321614290570158e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=3062, id_1=1.132197788878549e+18, id_2=1.1322020537391227e+18, id_3=1.1322022921265848e+18, id_4=1.1322030368839926e+18, id_5=1.132374832518185e+18, id_6=1.1323778813452329e+18, id_7=nan),
 Pandas(Index=3079, id_1=1.1322020537391227e+18, id_2=1.1322022921265848e+18, id_3=1.1322030368839926e+18, id_4=1.132374832518185e+18, id_5=1.1323778813452329e+18, id_6=nan, id_7=nan),
 Pandas(Index=3080, id_1=1.1322022921265848e+18, id_2=1.1322030368839926e+18, id_3=1.132374832518185e+18, id_4=1.1323778813452329e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=3085, id_1=1.1322030368839926e+18, id_2=1.1323790154388316e+18, id_3=1.1323828183933501e+18, id_4=1.1323832802323046e+18, id_5=1.1323882844983624e+18, id_6=nan, id_7=nan),
 Pandas(Index=3259, id_1=1.1322372461978952e+18, id_2=1.132239465907458e+18, id_3=1.1322558950632694e+18, id_4=1.132259407889408e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=3424, id_1=1.1322717946085908e+18, id_2=1.1322719731392102e+18, id_3=1.132275161686827e+18, id_4=1.1322767523640033e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=3759, id_1=1.1323451086769603e+18, id_2=1.1323460137867592e+18, id_3=1.132347185754968e+18, id_4=1.1323478819759636e+18, id_5=1.1323542227610993e+18, id_6=1.1323551928364933e+18, id_7=nan),
 Pandas(Index=3760, id_1=1.1323453522444001e+18, id_2=1.1323490628151337e+18, id_3=1.1323497996284436e+18, id_4=1.1323515015635968e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=3765, id_1=1.1323460137867592e+18, id_2=1.132347185754968e+18, id_3=1.1323478819759636e+18, id_4=1.1323542227610993e+18, id_5=1.1323551928364933e+18, id_6=nan, id_7=nan),
 Pandas(Index=3771, id_1=1.132347185754968e+18, id_2=1.1323478819759636e+18, id_3=1.1323542227610993e+18, id_4=1.1323551928364933e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=3863, id_1=1.1323694749282222e+18, id_2=1.1323747070581637e+18, id_3=1.1323749380720968e+18, id_4=1.1323785414783713e+18, id_5=1.1326510114309939e+18, id_6=nan, id_7=nan),
 Pandas(Index=3892, id_1=1.1323747070581637e+18, id_2=1.1323749380720968e+18, id_3=1.1323785414783713e+18, id_4=1.1326510114309939e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=3896, id_1=1.1323749380720968e+18, id_2=1.1323786018595021e+18, id_3=1.1329745806902436e+18, id_4=1.1329774099244442e+18, id_5=1.1329793051331994e+18, id_6=nan, id_7=nan),
 Pandas(Index=3913, id_1=1.1323786018595021e+18, id_2=1.1329745806902436e+18, id_3=1.1329774099244442e+18, id_4=1.1329793051331994e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=3915, id_1=1.1323790154388316e+18, id_2=1.1323828183933501e+18, id_3=1.1323832802323046e+18, id_4=1.1323882844983624e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=3952, id_1=1.1323906641368105e+18, id_2=1.1323941407364301e+18, id_3=1.1324012627570647e+18, id_4=1.1324086389018706e+18, id_5=1.1324109609567887e+18, id_6=nan, id_7=nan),
 Pandas(Index=3968, id_1=1.1323941407364301e+18, id_2=1.1324012627570647e+18, id_3=1.1324086389018706e+18, id_4=1.1324109609567887e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=4086, id_1=1.1324212570042778e+18, id_2=1.1324227299306291e+18, id_3=1.1324234814533591e+18, id_4=1.1324243294493532e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=4430, id_1=1.1325560383166669e+18, id_2=1.1326150475517706e+18, id_3=1.1326191625122365e+18, id_4=1.1326209696910459e+18, id_5=1.1326245852775301e+18, id_6=nan, id_7=nan),
 Pandas(Index=4432, id_1=1.1325560383166669e+18, id_2=1.1326958776743404e+18, id_3=1.1326989468061409e+18, id_4=1.1326991211045151e+18, id_5=1.1327001669501829e+18, id_6=nan, id_7=nan),
 Pandas(Index=4446, id_1=1.1325641997737452e+18, id_2=1.132566281192919e+18, id_3=1.1325678737827676e+18, id_4=1.1325697896947139e+18, id_5=1.1326331507718758e+18, id_6=nan, id_7=nan),
 Pandas(Index=4452, id_1=1.132566281192919e+18, id_2=1.1325678737827676e+18, id_3=1.1325697896947139e+18, id_4=1.1326331507718758e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=4501, id_1=1.1325808703580324e+18, id_2=1.132581565865898e+18, id_3=1.1325826830313308e+18, id_4=1.1325972556372746e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=4589, id_1=1.132607787358466e+18, id_2=1.1326090863092408e+18, id_3=1.1326094032140616e+18, id_4=1.1326141259374674e+18, id_5=1.132614886897406e+18, id_6=1.1326213604785439e+18, id_7=1.1326272167670948e+18),
 Pandas(Index=4596, id_1=1.1326090863092408e+18, id_2=1.1326094032140616e+18, id_3=1.1326141259374674e+18, id_4=1.132614886897406e+18, id_5=1.1326213604785439e+18, id_6=1.1326272167670948e+18, id_7=nan),
 Pandas(Index=4597, id_1=1.1326094032140616e+18, id_2=1.1326141259374674e+18, id_3=1.132614886897406e+18, id_4=1.1326213604785439e+18, id_5=1.1326272167670948e+18, id_6=nan, id_7=nan),
 Pandas(Index=4615, id_1=1.1326141259374674e+18, id_2=1.132614886897406e+18, id_3=1.1326213604785439e+18, id_4=1.1326272167670948e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=4621, id_1=1.1326150475517706e+18, id_2=1.1326191625122365e+18, id_3=1.1326209696910459e+18, id_4=1.1326245852775301e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=4671, id_1=1.1326312958617231e+18, id_2=1.1326332763451924e+18, id_3=1.132633748590039e+18, id_4=1.1326363071450153e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=4754, id_1=1.1326507154894602e+18, id_2=1.1326520163864207e+18, id_3=1.1326532354021499e+18, id_4=1.1326547763852493e+18, id_5=1.1327371373701079e+18, id_6=nan, id_7=nan),
 Pandas(Index=4758, id_1=1.1326520163864207e+18, id_2=1.1326532354021499e+18, id_3=1.1326547763852493e+18, id_4=1.1327371373701079e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=4847, id_1=1.1326731359904973e+18, id_2=1.1326749885180518e+18, id_3=1.1326763276377539e+18, id_4=1.132679717759402e+18, id_5=1.1326800126525235e+18, id_6=nan, id_7=nan),
 Pandas(Index=4859, id_1=1.1326749885180518e+18, id_2=1.1326763276377539e+18, id_3=1.132679717759402e+18, id_4=1.1326800126525235e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=4884, id_1=1.1326802988423209e+18, id_2=1.1326843410609398e+18, id_3=1.1326885446051348e+18, id_4=1.1326900815572746e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=4961, id_1=1.1326958776743404e+18, id_2=1.1326989468061409e+18, id_3=1.1326991211045151e+18, id_4=1.1327001669501829e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=5419, id_1=1.1328061715749069e+18, id_2=1.132918023487144e+18, id_3=1.1329218730067681e+18, id_4=1.1329226912568197e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=5476, id_1=1.1328217280511304e+18, id_2=1.1328272249131418e+18, id_3=1.132827462361002e+18, id_4=1.1328511778409595e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=5792, id_1=1.1329463481421906e+18, id_2=1.1329490530153185e+18, id_3=1.1329507831489085e+18, id_4=1.1329532315318886e+18, id_5=1.1329540551547863e+18, id_6=1.1329553077039841e+18, id_7=nan),
 Pandas(Index=5803, id_1=1.1329490530153185e+18, id_2=1.1329507831489085e+18, id_3=1.1329532315318886e+18, id_4=1.1329540551547863e+18, id_5=1.1329553077039841e+18, id_6=nan, id_7=nan),
 Pandas(Index=5808, id_1=1.1329507831489085e+18, id_2=1.1329532315318886e+18, id_3=1.1329540551547863e+18, id_4=1.1329553077039841e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=5958, id_1=1.1329774099244442e+18, id_2=1.1330293719193846e+18, id_3=1.1330303725629522e+18, id_4=1.1330319716245545e+18, id_5=1.1330345490201559e+18, id_6=nan, id_7=nan),
 Pandas(Index=5974, id_1=1.1329809306190193e+18, id_2=1.1329822235384054e+18, id_3=1.1329841814730752e+18, id_4=1.1329852456729231e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=6149, id_1=1.1330170069014733e+18, id_2=1.1330186256217989e+18, id_3=1.1330221600108462e+18, id_4=1.1330228493907968e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=6223, id_1=1.1330293719193846e+18, id_2=1.1330303725629522e+18, id_3=1.1330319716245545e+18, id_4=1.1330345490201559e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=6268, id_1=1.133039177010942e+18, id_2=1.1330398248463688e+18, id_3=1.1330408460168438e+18, id_4=1.1330410606980506e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=6346, id_1=1.1330424532824678e+18, id_2=1.1338073683981476e+18, id_3=1.1338082266240041e+18, id_4=1.1338124751142134e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=6949, id_1=1.1332206411408179e+18, id_2=1.1332235727244902e+18, id_3=1.1332253748574863e+18, id_4=1.1332259631715369e+18, id_5=1.1332276658660229e+18, id_6=1.1332302298650624e+18, id_7=1.1332562059111014e+18),
 Pandas(Index=6953, id_1=1.1332214980665262e+18, id_2=1.1332241803279606e+18, id_3=1.1332279854217011e+18, id_4=1.1332285941283103e+18, id_5=1.1332305618357985e+18, id_6=nan, id_7=nan),
 Pandas(Index=6958, id_1=1.1332235727244902e+18, id_2=1.1332253748574863e+18, id_3=1.1332259631715369e+18, id_4=1.1332276658660229e+18, id_5=1.1332302298650624e+18, id_6=1.1332562059111014e+18, id_7=1.1332579701402214e+18),
 Pandas(Index=6960, id_1=1.1332241803279606e+18, id_2=1.1332279854217011e+18, id_3=1.1332285941283103e+18, id_4=1.1332305618357985e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=6963, id_1=1.1332253748574863e+18, id_2=1.1332259631715369e+18, id_3=1.1332276658660229e+18, id_4=1.1332302298650624e+18, id_5=1.1332562059111014e+18, id_6=1.1332579701402214e+18, id_7=nan),
 Pandas(Index=6965, id_1=1.1332259631715369e+18, id_2=1.1332276658660229e+18, id_3=1.1332302298650624e+18, id_4=1.1332562059111014e+18, id_5=1.1332579701402214e+18, id_6=nan, id_7=nan),
 Pandas(Index=6966, id_1=1.1332276658660229e+18, id_2=1.1332302298650624e+18, id_3=1.1332562059111014e+18, id_4=1.1332579701402214e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=6969, id_1=1.1332285941283103e+18, id_2=1.1332306055068877e+18, id_3=1.133241180643156e+18, id_4=1.1332424977387274e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=7006, id_1=1.1332537221408154e+18, id_2=1.1337215234521457e+18, id_3=1.1337241405680271e+18, id_4=1.1343675658183926e+18, id_5=1.1343718677484585e+18, id_6=nan, id_7=nan),
 Pandas(Index=7058, id_1=1.1332746755078144e+18, id_2=1.1332781761326408e+18, id_3=1.1332788499224166e+18, id_4=1.1332844898394808e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=7146, id_1=1.1332960267088404e+18, id_2=1.133299540805718e+18, id_3=1.1333054623450931e+18, id_4=1.1333613208400527e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=7189, id_1=1.1333030225645855e+18, id_2=1.1333048277301903e+18, id_3=1.1333106494659994e+18, id_4=1.1333143572936622e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=7194, id_1=1.1333039023408128e+18, id_2=1.1333072978522685e+18, id_3=1.1333080211138601e+18, id_4=1.133318403459027e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=7202, id_1=1.1333054623450931e+18, id_2=1.1333617719961641e+18, id_3=1.133369102976856e+18, id_4=1.1333734840741765e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=7424, id_1=1.1333496261264507e+18, id_2=1.133350283323564e+18, id_3=1.1333545843894231e+18, id_4=1.1333849025593795e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=7510, id_1=1.133369102976856e+18, id_2=1.1333742212818944e+18, id_3=1.1333779659187569e+18, id_4=1.1333810171364475e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=7540, id_1=1.1333779659187569e+18, id_2=1.1337026008372716e+18, id_3=1.1337042769859625e+18, id_4=1.133704829178667e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=7911, id_1=1.1334431998869094e+18, id_2=1.1334579329501512e+18, id_3=1.1334589102271283e+18, id_4=1.133466524965118e+18, id_5=1.1334696830788403e+18, id_6=1.1334731771773501e+18, id_7=nan),
 Pandas(Index=7965, id_1=1.1334579329501512e+18, id_2=1.1334589102271283e+18, id_3=1.133466524965118e+18, id_4=1.1334696830788403e+18, id_5=1.1334731771773501e+18, id_6=nan, id_7=nan),
 Pandas(Index=7969, id_1=1.1334589102271283e+18, id_2=1.133466524965118e+18, id_3=1.1334696830788403e+18, id_4=1.1334731771773501e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=8023, id_1=1.1334724194176082e+18, id_2=1.1334734729555395e+18, id_3=1.1334750765175644e+18, id_4=1.1334819062621676e+18, id_5=1.1334864441006408e+18, id_6=nan, id_7=nan),
 Pandas(Index=8027, id_1=1.1334734729555395e+18, id_2=1.1334750765175644e+18, id_3=1.1334819062621676e+18, id_4=1.1334864441006408e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=8090, id_1=1.133494302519251e+18, id_2=1.1335068452876042e+18, id_3=1.1335080447284838e+18, id_4=1.1335165162369597e+18, id_5=1.1335204309150392e+18, id_6=nan, id_7=nan),
 Pandas(Index=8129, id_1=1.1335068452876042e+18, id_2=1.1335080447284838e+18, id_3=1.1335165162369597e+18, id_4=1.1335204309150392e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=8371, id_1=1.1336037411129836e+18, id_2=1.1336064701033267e+18, id_3=1.1336073371833385e+18, id_4=1.133610203616809e+18, id_5=nan, id_6=nan, id_7=nan),
 Pandas(Index=8593, id_1=1.1336669814571418e+18, id_2=1.1336672211907912e+18, id_3=1.1336702711210107e+18, id_4=1.1336709950451753e+18, id_5=1.1336760607915295e+18, id_6=1.1336771773109289e+18, id_7=1.1337398864046694e+18),