In [13]:
import json 
import pandas as pd 
import numpy as np 
import sqlite3 
from datetime import datetime

In [14]:
con = sqlite3.connect('database.db')

In [19]:
#pull down data from general_tweets and british_airway_tweets
#the text attribute can be used for further analysis
query = '''
    SELECT gen.id as general_tweet_id, bri.id as British_reply_tweet_id, gen.text,
    gen.timestamp_ms as gen_timestamp_ms, bri.timestamp_ms as British_timestamp_ms,
    gen.user as gen_user, bri.user as British_user
    
    FROM general_tweets as gen, british_airways_tweets as bri
    
    WHERE gen.id = bri.in_reply_to_status_id
'''

In [20]:
df_data = pd.read_sql_query(query, con)
df_data.head()

,general_tweet_id,British_reply_tweet_id,text,gen_timestamp_ms,British_timestamp_ms,gen_user,British_user
0,1.1311730105080627e+18,1.1311759953215201e+18,Thanks @British_Airways I really needed the ex...,2019-05-22 12:20:36.540,2019-05-22 12:32:28.175,"{'id': 1662186764, 'id_str': '1662186764', 'na...","{'id': 18332190, 'id_str': '18332190', 'name':..."
1,1.1311730105080627e+18,1.1311759953215201e+18,Thanks @British_Airways I really needed the ex...,2019-05-22 12:20:36.540,2019-05-22 12:32:28.175,"{'id': 1662186764, 'id_str': '1662186764', 'na...","{'id': 18332190, 'id_str': '18332190', 'name':..."
2,1.1311733532917678e+18,1.1311907757007012e+18,@journoian We appreciate your feedback and we'...,2019-05-22 12:21:58.266,2019-05-22 13:31:12.092,"{'id': 18332190, 'id_str': '18332190', 'name':...","{'id': 40830697, 'id_str': '40830697', 'name':..."
3,1.1311733532917678e+18,1.1311907757007012e+18,@journoian We appreciate your feedback and we'...,2019-05-22 12:21:58.266,2019-05-22 13:31:12.092,"{'id': 18332190, 'id_str': '18332190', 'name':...","{'id': 40830697, 'id_str': '40830697', 'name':..."
4,1.1311736637456835e+18,1.1312975479837e+18,"@wags9000 This is concerning to hear, Ally. Di...",2019-05-22 12:23:12.284,2019-05-22 20:35:28.588,"{'id': 18332190, 'id_str': '18332190', 'name':...","{'id': 302493679, 'id_str': '302493679', 'name..."

In [24]:
#Extract the duration into seconds by attribute .seconds
df_data['gen_timestamp_ms'] = pd.to_datetime(df_data['gen_timestamp_ms'])
df_data['British_timestamp_ms'] = pd.to_datetime(df_data['British_timestamp_ms'])
df_data['reply_time'] = df_data['British_timestamp_ms'] - df_data['British_timestamp_ms']
df_data['reply_time_in_seconds'] = pd.Series([df_data['reply_time'].iloc[i].seconds for i in range(len(df_data))])


df_data.to_csv('conversation.csv')