In [2]:
import json 
import pandas as pd 
import numpy as np 
import sqlite3 
from datetime import datetime

In [6]:
con = sqlite3.connect('database.db')

In [7]:
#pull down data from general_tweets and british_airway_tweets
#the text attribute can be used for further analysis
query = '''
    SELECT gen.id as general_tweet_id, bri.id as British_reply_tweet_id, gen.text,
    gen.timestamp_ms as gen_timestamp_ms, bri.timestamp_ms as British_timestamp_ms,
    gen.user as gen_user, bri.user as British_user
    
    FROM general_tweets as gen, british_airways_tweets as bri
    
    WHERE gen.id = bri.in_reply_to_status_id AND bri.user_Id = '18332190'
'''

In [8]:
df_data = pd.read_sql_query(query, con)
df_data.head()

DatabaseError: Execution failed on sql '
    SELECT gen.id as general_tweet_id, bri.id as British_reply_tweet_id, gen.text,
    gen.timestamp_ms as gen_timestamp_ms, bri.timestamp_ms as British_timestamp_ms,
    gen.user as gen_user, bri.user as British_user

    FROM general_tweets as gen, british_airways_tweets as bri

    WHERE gen.id = bri.in_reply_to_status_id AND bri.user_Id = '18332190'
': no such table: general_tweets

In [1]:
#Extract the duration into seconds by attribute .seconds
df_data['gen_timestamp_ms'] = pd.to_datetime(df_data['gen_timestamp_ms'])
df_data['British_timestamp_ms'] = pd.to_datetime(df_data['British_timestamp_ms'])
df_data['reply_time'] = df_data['British_timestamp_ms'] - df_data['British_timestamp_ms']
df_data['reply_time_in_seconds'] = pd.Series([df_data['reply_time'].iloc[i].seconds for i in range(len(df_data))])
df_data.to_csv('british_airways_conversation.csv')

NameError: name 'pd' is not defined