In [29]:
import json 
import pandas as pd 
import numpy as np 
import sqlite3 
from datetime import datetime

In [3]:
#Establish connection to the database (database.db file)
con = sqlite3.connect('..\database\sqlite-tools-win32-x86-3380300\database.db')

In [17]:
#Write a query to pull down data, feel free to change this to build your own attributes @Phat
query = '''
    SELECT gen.id as general_tweet_id, klm.id as KLM_reply_tweet_id, 
    gen.timestamp_ms as gen_timestamp_ms, klm.timestamp_ms as klm_timestamp_ms,
    gen.user as gen_user, klm.user as klm_user
    
    FROM general_tweets as gen, KLM_tweets as klm
    
    WHERE gen.id = klm.in_reply_to_status_id
'''

In [19]:
#Pull data from database into dataframe
df_data = pd.read_sql_query(query, con)
df_data.head()

,general_tweet_id,KLM_reply_tweet_id,gen_timestamp_ms,klm_timestamp_ms,gen_user,klm_user
0,1.1311736252588155e+18,1.1311830432412303e+18,2019-05-22 12:23:03.108,2019-05-22 13:00:28.530,"{'id': 56377143, 'id_str': '56377143', 'name':...","{'id': 3110268790, 'id_str': '3110268790', 'na..."
1,1.1311736252588155e+18,1.1311830432412303e+18,2019-05-22 12:23:03.108,2019-05-22 13:00:28.530,"{'id': 56377143, 'id_str': '56377143', 'name':...","{'id': 3110268790, 'id_str': '3110268790', 'na..."
2,1.1311736252588155e+18,1.1311830432412303e+18,2019-05-22 12:23:03.108,2019-05-22 13:00:28.530,"{'id': 56377143, 'id_str': '56377143', 'name':...","{'id': 3110268790, 'id_str': '3110268790', 'na..."
3,1.1311787112718418e+18,1.13117951016926e+18,2019-05-22 12:43:15.708,2019-05-22 12:46:26.180,"{'id': 5404442, 'id_str': '5404442', 'name': '...","{'id': 94425945, 'id_str': '94425945', 'name':..."
4,1.1311787112718418e+18,1.13117951016926e+18,2019-05-22 12:43:15.708,2019-05-22 12:46:26.180,"{'id': 5404442, 'id_str': '5404442', 'name': '...","{'id': 94425945, 'id_str': '94425945', 'name':..."

In [63]:
#Turn back the string of Timestamp data back to Timestamp object. If u don't understand, go ask @Phat
#Feel free to extract other attributes out of this Timestamp object, For example: timezone, day, year,...
df_data['gen_timestamp_ms'] = pd.to_datetime(df_data['gen_timestamp_ms'])
df_data['klm_timestamp_ms'] = pd.to_datetime(df_data['klm_timestamp_ms'])

In [64]:
#Get the reply time/duration between 2 tweets - return Timedelta object
df_data['reply_time'] = df_data['klm_timestamp_ms'] - df_data['gen_timestamp_ms']

In [68]:
#Extract the duration into seconds by attribute .seconds
#Feel free to extract other attibute from this 
df_data['reply_time_in_seconds'] = pd.Series([df_data['reply_time'].iloc[i].seconds for i in range(len(df_data))])

In [ ]:
#@Marfa: u can probably build those attributes analyzing "popular accounts" from those user dictionary

In [67]:
df_data.to_csv('../database/CSV file/conversation.csv')