In [83]:
import json 
import pandas as pd 
import numpy as np

In [65]:
df_database = pd.read_json('airlines-1558527599826.json', lines=True)
df_datas = df_database.reindex(columns = ['created_at','id_str','user','entities'])

df_datas

,created_at,id_str,user,entities
0,2019-05-22 12:20:00+00:00,1.131173e+18,"{'id': 393374091, 'id_str': '393374091', 'name...","{'hashtags': [], 'urls': [{'url': 'https://t.c..."
1,2019-05-22 12:20:01+00:00,1.131173e+18,"{'id': 3420691215, 'id_str': '3420691215', 'na...","{'hashtags': [], 'urls': [], 'user_mentions': ..."
2,2019-05-22 12:20:02+00:00,1.131173e+18,"{'id': 394376606, 'id_str': '394376606', 'name...","{'hashtags': [], 'urls': [], 'user_mentions': ..."
3,2019-05-22 12:20:12+00:00,1.131173e+18,"{'id': 36488556, 'id_str': '36488556', 'name':...","{'hashtags': [], 'urls': [], 'user_mentions': ..."
4,2019-05-22 12:20:28+00:00,1.131173e+18,"{'id': 14193348, 'id_str': '14193348', 'name':...","{'hashtags': [], 'urls': [], 'user_mentions': ..."
...,...,...,...,...
14384,2019-05-23 11:42:26+00:00,1.131526e+18,"{'id': 1499872951, 'id_str': '1499872951', 'na...","{'hashtags': [], 'urls': [], 'user_mentions': ..."
14385,2019-05-23 11:42:27+00:00,1.131526e+18,"{'id': 2182054841, 'id_str': '2182054841', 'na...","{'hashtags': [], 'urls': [], 'user_mentions': ..."
14386,2019-05-23 11:42:27+00:00,1.131526e+18,"{'id': 1000339516203421696, 'id_str': '1000339...","{'hashtags': [], 'urls': [], 'user_mentions': ..."
14387,2019-05-23 11:42:35+00:00,1.131526e+18,"{'id': 128174143, 'id_str': '128174143', 'name...","{'hashtags': [], 'urls': [], 'user_mentions': ..."
14388,2019-05-23 11:42:44+00:00,1.131526e+18,"{'id': 2285714020, 'id_str': '2285714020', 'na...","{'hashtags': [], 'urls': [{'url': 'https://t.c..."

In [68]:
df_datas = df_datas.dropna()

In [75]:
#Counting how many tweets made by KLM,Bri:
count_made_klm = 0
count_made_bri = 0
for d in df_datas.user:
    if d.get("id_str") == "56377143":
        count_made_klm +=1
    if d.get("id_str") == "18332190":
        count_made_bri +=1
        
print(count_made_klm,count_made_bri)

87 343

In [82]:
#Counting how many tweets mention KLM, Bri:
count_ment_klm = 0
count_ment_bri = 0
for d in df_datas.entities:
    for i in d.get("user_mentions"):
        if i.get("id_str") == "56377143":
            count_ment_klm +=1
        if i.get("id_str") == "18332190":
            count_ment_bri +=1
            
print(count_ment_klm,count_ment_bri)

334 1770