#### 1. Import library

In [2]:
import os
import pandas as pd 
import numpy as np 
from typing import Dict, List, Tuple 
import sqlite3
import json
import glob

#### 2. Load the data onto DataFrame

In [3]:
df_data = pd.DataFrame()
file_list = ['../data/' + i for i in os.listdir('../data/')]
dfs = [] # an empty list to store the data frames
file_list

['../data/airlines-1558527599826.json',
 '../data/airlines-1558546003827.json',
 '../data/airlines-1558611772040.json',
 '../data/airlines-1558623303180.json',
 '../data/airlines-1558678330070.json',
 '../data/airlines-1558697205154.json',
 '../data/airlines-1558744391657.json',
 '../data/airlines-1558779687636.json',
 '../data/airlines-1558863520888.json',
 '../data/airlines-1558888297881.json',
 '../data/airlines-1558974571041.json',
 '../data/airlines-1558998029487.json',
 '../data/airlines-1559069822287.json',
 '../data/airlines-1559097885748.json',
 '../data/airlines-1559142170524.json',
 '../data/airlines-1559156713030.json',
 '../data/airlines-1559231904332.json',
 '../data/airlines-1559256655329.json',
 '../data/airlines-1559323725358.json',
 '../data/airlines-1559352498975.json']

In [5]:
# load the json file of one month onto dataframe 
# df_data = pd.read_json('../data/airlines-1558527599826.json', lines=True)
for file in file_list:
    try:
        data = pd.read_json(file, lines=True) # read data frame from json file 
        print(file)
        dfs.append(data) # append the data frame to the list
    except:
        pass
df_data = pd.concat(dfs, ignore_index=True) # concatenate all the data frames in the list.

../data/airlines-1558527599826.json
../data/airlines-1558546003827.json
../data/airlines-1558678330070.json
../data/airlines-1558697205154.json
../data/airlines-1558744391657.json
../data/airlines-1558779687636.json
../data/airlines-1558863520888.json
../data/airlines-1558888297881.json
../data/airlines-1558974571041.json
../data/airlines-1558998029487.json
../data/airlines-1559069822287.json
../data/airlines-1559097885748.json
../data/airlines-1559142170524.json
../data/airlines-1559156713030.json
../data/airlines-1559231904332.json
../data/airlines-1559256655329.json
../data/airlines-1559323725358.json
../data/airlines-1559352498975.json

In [6]:
df_data.to_csv('../database/CSV file/general_tweets.csv')

#### 3. Store the data on .db file

In [1]:
# create connection and cursor 
con = sqlite3.connect('../database/sqlite-tools-win32-x86-3380300/database.db')
cur = con.cursor()

NameError: name 'sqlite3' is not defined

#### 4. KLM table

In [12]:
df_datas = df_data.dropna(subset = ["user"])
#Extract only tweets made by KLM (including posting +replying to other):
test = df_datas.copy()

ind = []
for index, row in df_datas.iterrows():
    if row['user']['id_str'] == '56377143':
        ind.append(index)
klm_tweet = df_datas.loc[ind]

In [13]:
#Extract only tweets mention KLM (@KLM etc...):
test2 = df_datas.copy()
ind2 = []
for index, row in df_datas.iterrows():
    if "@KLM" in row['text']:
        ind2.append(index)
klm_tweet_men = df_datas.loc[ind2]

In [14]:
#Concat 2 tables:
klm_table = pd.concat([klm_tweet, klm_tweet_men])
klm_table.drop_duplicates(subset=['id'], inplace=True)

In [15]:
#Export the table as CSV file to import to the database
klm_table.to_csv('../database/CSV file/klm_table.csv')

#### 5. Bristish Airways table

In [16]:
#Extract only tweets made by BA (including posting +replying to other):
test = df_datas.copy()

ind = []
for index, row in df_datas.iterrows():
    if row['user']['id_str'] == '18332190':
        ind.append(index)
british_tweet = df_datas.loc[ind]

In [17]:
#Extract only tweets mention BA (@British_Airways etc...):
test2 = df_datas.copy()
ind2 = []
for index, row in df_datas.iterrows():
    if "@British_Airways" in row['text']:
        ind2.append(index)
british_tweet_men = df_datas.loc[ind2]

In [18]:
#Concat 2 tables:
british_table = pd.concat([british_tweet, british_tweet_men])
british_table.drop_duplicates(subset=['id'], inplace=True)

In [19]:
#Export the table as CSV file to import to the database
british_table.to_csv('../database/CSV file/british_table.csv')

#### 6. Users table

In [ ]:
df_datas.user

In [ ]:
#Get the user table
#This is a temporary method as it's really bad and have bad running time @Phat
user_table = pd.concat([pd.DataFrame(df_datas.user[i], index=[i]) for i in df_datas.user.index])

In [ ]:
user_table.to_csv('../database/CSV file/user_table.csv')