### Import library

In [12]:
import json 
import pandas as pd 
import numpy as np

In [19]:
df_data = pd.read_json('airlines-1558527599826.json', lines=True)

In [57]:
df_data.columns

Index(['created_at', 'id', 'id_str', 'text', 'display_text_range', 'source',
       'truncated', 'in_reply_to_status_id', 'in_reply_to_status_id_str',
       'in_reply_to_user_id', 'in_reply_to_user_id_str',
       'in_reply_to_screen_name', 'user', 'geo', 'coordinates', 'place',
       'contributors', 'is_quote_status', 'quote_count', 'reply_count',
       'retweet_count', 'favorite_count', 'entities', 'extended_entities',
       'favorited', 'retweeted', 'possibly_sensitive', 'filter_level', 'lang',
       'timestamp_ms', 'retweeted_status', 'extended_tweet',
       'quoted_status_id', 'quoted_status_id_str', 'quoted_status',
       'quoted_status_permalink', 'delete'],
      dtype='object')

In [58]:
#Load one twitter 
df_data.iloc[[0]].T

                                                                           0
created_at                                         2019-05-22 12:20:00+00:00
id                                                     1131172858951024640.0
id_str                                                 1131172858951024640.0
text                       La ruta de easyJet entre Londres y Menorca tra...
display_text_range                                                  [0, 113]
source                     <a href="https://about.twitter.com/products/tw...
truncated                                                                0.0
in_reply_to_status_id                                                    NaN
in_reply_to_status_id_str                                                NaN
in_reply_to_user_id                                                      NaN
in_reply_to_user_id_str                                                  NaN
in_reply_to_screen_name                                                 None
user                       {'id': 393374091, 'id_str': '393374091', 'name...
geo                                                                     None
coordinates                                                             None
place                                                                   None
contributors                                                             NaN
is_quote_status                                                          0.0
quote_count                                                              0.0
reply_count                                                              0.0
retweet_count                                                            0.0
favorite_count                                                           0.0
entities                   {'hashtags': [], 'urls': [{'url': 'https://t.c...
extended_entities          {'media': [{'id': 1131165220985090048, 'id_str...
favorited                                                                0.0
retweeted                                                                0.0
possibly_sensitive                                                       0.0
filter_level                                                             low
lang                                                                      es
timestamp_ms                                      2019-05-22 12:20:00.406000
retweeted_status                                                         NaN
extended_tweet                                                           NaN
quoted_status_id                                                         NaN
quoted_status_id_str                                                     NaN
quoted_status                                                            NaN
quoted_status_permalink                                                  NaN
delete                                                                   NaN

In [59]:
# load one user data from one twitter
df_user = pd.DataFrame(pd.Series(df_data['user'][0]))
df_user

                                                                                    0
id                                                                          393374091
id_str                                                                      393374091
name                                                                       EP Turismo
screen_name                                                                 EPturismo
location                                                                Madrid, Spain
url                                                http://www.europapress.es/turismo/
description                         Todo sobre política turística, hoteles, tourop...
translator_type                                                                  none
protected                                                                       False
verified                                                                         True
followers_count                                                                 44323
friends_count                                                                     845
listed_count                                                                     1152
favourites_count                                                                  394
statuses_count                                                                  73224
created_at                                             Tue Oct 18 12:55:25 +0000 2011
utc_offset                                                                       None
time_zone                                                                        None
geo_enabled                                                                     False
lang                                                                             None
contributors_enabled                                                            False
is_translator                                                                   False
profile_background_color                                                       E4E8EF
profile_background_image_url         http://abs.twimg.com/images/themes/theme1/bg.png
profile_background_image_url_https  https://abs.twimg.com/images/themes/theme1/bg.png
profile_background_tile                                                         False
profile_link_color                                                             4A913C
profile_sidebar_border_color                                                   BDDCAD
profile_sidebar_fill_color                                                     DDFFCC
profile_text_color                                                             333333
profile_use_background_image                                                     True
profile_image_url                   http://pbs.twimg.com/profile_images/8771160971...
profile_image_url_https             https://pbs.twimg.com/profile_images/877116097...
profile_banner_url                  https://pbs.twimg.com/profile_banners/39337409...
default_profile                                                                 False
default_profile_image                                                           False
following                                                                        None
follow_request_sent                                                              None
notifications                                                                    None