#### 1. Import library

In [185]:
import json 
import pandas as pd 
import numpy as np 
from typing import Dict, List, Tuple 
import sqlite3
import json

#### 2. Load the data onto DataFrame

In [186]:
# load the json file of one month onto dataframe 
df_data = pd.read_json('../data/airlines-1558527599826.json', lines=True)

In [187]:
#Load one twitter 
df_data.iloc[[0]].T;

In [188]:
# load one user data from one twitter
df_user = pd.DataFrame(pd.Series(df_data['user'][0]))
df_user;

#### 3. Store the data on .db file

In [190]:
# create connection and cursor 
con = sqlite3.connect('../data/test.db')
cur = con.cursor()

In [2]:
# query to create table schema
query_data_schema = '''
        CREATE TABLE fu (
        created_at, 
        id, 
        id_str, 
        text, 
        display_text_range, 
        source, 
        truncated, 
        in_reply_to_status_id, 
        in_reply_to_status_id_str, 
        in_reply_to_user_id,
        in_reply_to_user_id_str, 
        in_reply_to_screen_name,
        user,
        geo,
        coordinates, 
        place,
        contributors, 
        is_quote_status, 
        quote_count, 
        reply_count, 
        retweet_count, 
        favorite_count, 
        entities, 
        extended_entities, 
        favorited, 
        retweeted, 
        possibly_sensitive, 
        filter_level, 
        lang, 
        timestamp_ms, 
        retweeted_status, 
        extended_tweet, 
        quoted_status_id, 
        quoted_status_id_str, 
        quoted_status, 
        quoted_status_permalink,
        dele)'''
cur.execute(query_data_schema)

NameError: name 'cur' is not defined

In [5]:
count = len(df_data.columns) # count number of attributes
sql = ''' INSERT INTO {} VALUES({}?) '''.format('fu', (count-1)*'?,') # create a query to insert value
cur.execute(sql, tuple(df_data.loc[0])) # get the first row and insert on the table

NameError: name 'count' is not defined

In [197]:
# function to create a table 
def create_table(table, df):
    """
    Create a new table with the df
    :param table:
    :param df:
    :return:
    """
    cur = con.cursor()
    count = len(df_data.columns)
    sql = ''' INSERT INTO {}
              VALUES({}?) '''.format(table, (count-1)*'?,')
    for row in df.iterrows():
        cur.execute(sql, tuple(row[1]))
    conn.commit()

In [203]:
# json method 
# still working on @Phat
import json
import sqlite3

cur.execute(query_data_schema_2)
airline = json.load(open('../data/airlines-1558527599826.json'))
columns = list(df_data.columns)

OperationalError: database is locked

#### 4. Cleaning the data

In [1]:
df_data.head(5)

NameError: name 'df_data' is not defined

In [29]:
# airline id dictionary
airline_id: Dict[str, int] = {
'KLM' : 56377143, 
'AirFrance' : 106062176, 
'British_Airways' : 18332190, 
'AmericanAir' : 22536055, 
'Lufthansa' : 124476322, 
'AirBerlin' : 26223583, 
'AirBerlin assist' : 2182373406, 
'easyJet' : 38676903, 
'RyanAir' : 1542862735, 
'SingaporeAir' : 253340062, 
'Qantas' : 218730857, 
'EtihadAirways' : 45621423, 
'VirginAtlantic' : 20626359
    }

In [41]:
lst_of_id: List[int] = [i for i in airline_id.values()]

In [42]:
df_user.loc['id'][0] in lst_of_id

False