In [7]:
df_database = pd.read_json('../data/airlines-1558527599826.json', lines=True)
df_datas = df_database.dropna(subset = ["user"])

In [8]:
test = df_datas.copy()

ind = []
for index, row in df_datas.iterrows():
    if row['user']['id_str'] == '56377143':
        ind.append(index)
klm_tweet = df_datas.loc[ind]

In [11]:
klm_tweet.head()

,created_at,id,id_str,text,display_text_range,source,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,...,filter_level,lang,timestamp_ms,retweeted_status,extended_tweet,quoted_status_id,quoted_status_id_str,quoted_status,quoted_status_permalink,delete
36,2019-05-22 12:23:03+00:00,1.131174e+18,1.131174e+18,@Pelusitaaaa1 Hoi! Enkel KLM/Air France-vluch...,"[14, 140]","<a href=""http://www.salesforce.com"" rel=""nofol...",1.0,1.131171e+18,1.131171e+18,3.110269e+09,...,low,nl,2019-05-22 12:23:03.108,NaN,{'full_text': '@Pelusitaaaa1 Hoi! Enkel KLM/A...,NaN,NaN,NaN,NaN,NaN
635,2019-05-22 13:09:16+00:00,1.131185e+18,1.131185e+18,@Pelusitaaaa1 We helpen je graag. Kan je ons e...,"[14, 107]","<a href=""http://www.salesforce.com"" rel=""nofol...",0.0,1.131183e+18,1.131183e+18,3.110269e+09,...,low,nl,2019-05-22 13:09:16.877,NaN,NaN,NaN,NaN,NaN,NaN,NaN
785,2019-05-22 13:20:05+00:00,1.131188e+18,1.131188e+18,@addblackman We understand that you would pref...,"[13, 140]","<a href=""http://www.salesforce.com"" rel=""nofol...",1.0,1.131182e+18,1.131182e+18,1.604219e+09,...,low,en,2019-05-22 13:20:05.252,NaN,{'full_text': '@addblackman We understand that...,NaN,NaN,NaN,NaN,NaN
788,2019-05-22 13:20:17+00:00,1.131188e+18,1.131188e+18,@CarlosMosig Con el fin de evitar errores noso...,"[13, 140]","<a href=""http://www.salesforce.com"" rel=""nofol...",1.0,1.131183e+18,1.131183e+18,8.794935e+17,...,low,es,2019-05-22 13:20:17.115,NaN,{'full_text': '@CarlosMosig Con el fin de evit...,NaN,NaN,NaN,NaN,NaN
791,2019-05-22 13:20:31+00:00,1.131188e+18,1.131188e+18,@addblackman We do understand that some passen...,"[13, 140]","<a href=""http://www.salesforce.com"" rel=""nofol...",1.0,1.131182e+18,1.131182e+18,1.604219e+09,...,low,en,2019-05-22 13:20:31.611,NaN,{'full_text': '@addblackman We do understand t...,NaN,NaN,NaN,NaN,NaN

In [31]:
klm_tweet[['id', 'id_str', 'in_reply_to_status_id', 'in_reply_to_status_id_str', 'in_reply_to_user_id', 'timestamp_ms' ]]

,id,id_str,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,timestamp_ms
36,1.131174e+18,1.131174e+18,1.131171e+18,1.131171e+18,3.110269e+09,2019-05-22 12:23:03.108
635,1.131185e+18,1.131185e+18,1.131183e+18,1.131183e+18,3.110269e+09,2019-05-22 13:09:16.877
785,1.131188e+18,1.131188e+18,1.131182e+18,1.131182e+18,1.604219e+09,2019-05-22 13:20:05.252
788,1.131188e+18,1.131188e+18,1.131183e+18,1.131183e+18,8.794935e+17,2019-05-22 13:20:17.115
791,1.131188e+18,1.131188e+18,1.131182e+18,1.131182e+18,1.604219e+09,2019-05-22 13:20:31.611
...,...,...,...,...,...,...
13755,1.131517e+18,1.131517e+18,1.131512e+18,1.131512e+18,1.443140e+07,2019-05-23 11:05:39.431
13918,1.131519e+18,1.131519e+18,1.131517e+18,1.131517e+18,1.443140e+07,2019-05-23 11:15:59.844
13992,1.131520e+18,1.131520e+18,1.131518e+18,1.131518e+18,8.647669e+07,2019-05-23 11:19:29.027
14032,1.131521e+18,1.131521e+18,1.131519e+18,1.131519e+18,2.496645e+08,2019-05-23 11:21:36.721
14321,1.131525e+18,1.131525e+18,1.131520e+18,1.131520e+18,8.647669e+07,2019-05-23 11:37:25.285

In [27]:
a = klm_tweet['timestamp_ms'].iloc[1] - klm_tweet['timestamp_ms'].iloc[2]

In [35]:
a.seconds

85751

In [38]:
ts_str = '2000-03-10 15:43:10'
ts = pd.to_datetime(ts_str)
print(ts)

ts_str_list = ['2000-03-10 15:43:10', '2000/03/10 15:44']
ts_list = pd.to_datetime(ts_str_list)
print(list(ts_list))

2000-03-10 15:43:10
[Timestamp('2000-03-10 15:43:10'), Timestamp('2000-03-10 15:44:00')]

In [37]:
klm_tweet.user

36       {'id': 56377143, 'id_str': '56377143', 'name':...
635      {'id': 56377143, 'id_str': '56377143', 'name':...
785      {'id': 56377143, 'id_str': '56377143', 'name':...
788      {'id': 56377143, 'id_str': '56377143', 'name':...
791      {'id': 56377143, 'id_str': '56377143', 'name':...
                               ...
13755    {'id': 56377143, 'id_str': '56377143', 'name':...
13918    {'id': 56377143, 'id_str': '56377143', 'name':...
13992    {'id': 56377143, 'id_str': '56377143', 'name':...
14032    {'id': 56377143, 'id_str': '56377143', 'name':...
14321    {'id': 56377143, 'id_str': '56377143', 'name':...
Name: user, Length: 87, dtype: object