In [1]:
import pandas as pd
import json 
import numpy as np 
import re
import sqlite3

In [3]:
df_datas = pd.read_json('data/airlines-1558527599826.json', lines=True)
df_datas

,created_at,id,id_str,text,display_text_range,source,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,...,filter_level,lang,timestamp_ms,retweeted_status,extended_tweet,quoted_status_id,quoted_status_id_str,quoted_status,quoted_status_permalink,delete
0,2019-05-22 12:20:00+00:00,1.131173e+18,1.131173e+18,La ruta de easyJet entre Londres y Menorca tra...,"[0, 113]","<a href=""https://about.twitter.com/products/tw...",0.0,NaN,NaN,NaN,...,low,es,2019-05-22 12:20:00.406,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-05-22 12:20:01+00:00,1.131173e+18,1.131173e+18,RT @bttr_as1: @goody_tracy Here’s a list of so...,NaN,"<a href=""http://twitter.com/download/iphone"" r...",0.0,NaN,NaN,NaN,...,low,en,2019-05-22 12:20:01.645,{'created_at': 'Tue May 21 19:43:11 +0000 2019...,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-05-22 12:20:02+00:00,1.131173e+18,1.131173e+18,@British_Airways,NaN,"<a href=""http://twitter.com/download/android"" ...",0.0,1.131033e+18,1.131033e+18,3.943766e+08,...,low,und,2019-05-22 12:20:02.560,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-05-22 12:20:12+00:00,1.131173e+18,1.131173e+18,RT @TheRaceRadio: Nice change by @AmericanAir....,NaN,"<a href=""http://twitter.com/download/android"" ...",0.0,NaN,NaN,NaN,...,low,en,2019-05-22 12:20:12.449,{'created_at': 'Wed May 22 02:53:26 +0000 2019...,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-05-22 12:20:28+00:00,1.131173e+18,1.131173e+18,RT @sandeeprrao1991: BREAKING:-\nKLM to fly 3x...,NaN,"<a href=""https://mobile.twitter.com"" rel=""nofo...",0.0,NaN,NaN,NaN,...,low,en,2019-05-22 12:20:28.237,{'created_at': 'Wed May 22 12:10:24 +0000 2019...,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14384,2019-05-23 11:42:26+00:00,1.131526e+18,1.131526e+18,@yvettetravel were you invited to attend this?,NaN,"<a href=""http://twitter.com/download/iphone"" r...",0.0,NaN,NaN,3.046262e+08,...,low,en,2019-05-23 11:42:26.066,NaN,NaN,1.131507e+18,1.131507e+18,{'created_at': 'Thu May 23 10:28:34 +0000 2019...,"{'url': 'https://t.co/iLnuh7ejub', 'expanded':...",NaN
14385,2019-05-23 11:42:27+00:00,1.131526e+18,1.131526e+18,RT @RoyalFamily: The Queen sees how the @Briti...,NaN,"<a href=""https://mobile.twitter.com"" rel=""nofo...",0.0,NaN,NaN,NaN,...,low,en,2019-05-23 11:42:27.109,{'created_at': 'Thu May 23 11:13:08 +0000 2019...,NaN,NaN,NaN,NaN,NaN,NaN
14386,2019-05-23 11:42:27+00:00,1.131526e+18,1.131526e+18,@RoyalSpectator @British_Airways She looks AMA...,"[33, 60]","<a href=""http://twitter.com"" rel=""nofollow"">Tw...",0.0,1.131512e+18,1.131512e+18,1.590887e+09,...,low,en,2019-05-23 11:42:27.469,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14387,2019-05-23 11:42:35+00:00,1.131526e+18,1.131526e+18,@maj_fox @British_Airways Should happen more o...,"[26, 94]","<a href=""http://twitter.com/download/android"" ...",0.0,1.131484e+18,1.131484e+18,1.085556e+18,...,low,en,2019-05-23 11:42:35.858,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14388,2019-05-23 11:42:44+00:00,1.131526e+18,1.131526e+18,@British_Airways delayed 5hrs on flight BA0103...,NaN,"<a href=""http://twitter.com/download/iphone"" r...",1.0,NaN,NaN,1.833219e+07,...,low,en,2019-05-23 11:42:44.440,NaN,{'full_text': '@British_Airways delayed 5hrs o...,NaN,NaN,NaN,NaN,NaN

In [8]:
df_datas = df_datas.dropna(subset=['user'])

def cleaner(text):
    '''Remove URLs'''
    text = re.sub(r"(?:\@|http?\://|https?\://|www)\S+", "", text)
    return text


def punc(text1):
    '''Remove punctuations and symbols except ! & ?'''
    punct = '''()-[]{};:'"\,<>./@#$%^&*_~'''
    for word in text1:
        if word in punct:
            text1 = text1.replace(word, "")
    return text1

def to_lower(text2):
    '''Convert string to lower case'''
    text2 = text2.lower()
    return text2

#def emoji(text3):
    '''Convert emoji to text'''
    
def abbre(text4):
    '''Expand abbreviations, common ones'''
    abbre_dict = {"asap": "as soon as possible", "atm": "at the moment", "fyi": "for your information", "np": "no problem",
                 "pls": "please", "thx": "thanks", "lmk": "let me know", "lol": "laugh out loud", "nvm": "nevermind", 
                 "tba": "to be honest", "tbd": "to be decided"}
    for key, value in abbre_dict.items():
        text4 = text4.replace(key,value)
    return text4
    
    
#remove non-English tweets
df_datas = df_datas.loc[df_datas['lang'] =='en']
for i in range(len(df_datas['text'].values)):
    text = df_datas['text'].iloc[i]
    lang = df_datas['lang'].iloc[i]
    df_datas['text'].iloc[i] = cleaner(text)
    df_datas['text'].iloc[i] = punc(text)
    df_datas['text'].iloc[i] = to_lower(text)
    df_datas['text'].iloc[i] = abbre(text)
    
    
df_datas

C:\Users\12697\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

,created_at,id,id_str,text,display_text_range,source,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,...,filter_level,lang,timestamp_ms,retweeted_status,extended_tweet,quoted_status_id,quoted_status_id_str,quoted_status,quoted_status_permalink,delete
1,2019-05-22 12:20:01+00:00,1.131173e+18,1.131173e+18,rt here’s a list of some of clients. they s...,NaN,"<a href=""http://twitter.com/download/iphone"" r...",0.0,NaN,NaN,NaN,...,low,en,2019-05-22 12:20:01.645,{'created_at': 'Tue May 21 19:43:11 +0000 2019...,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-05-22 12:20:12+00:00,1.131173e+18,1.131173e+18,rt nice change by bikes now pay standard che...,NaN,"<a href=""http://twitter.com/download/android"" ...",0.0,NaN,NaN,NaN,...,low,en,2019-05-22 12:20:12.449,{'created_at': 'Wed May 22 02:53:26 +0000 2019...,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-05-22 12:20:28+00:00,1.131173e+18,1.131173e+18,rt breaking:-\nklm to fly 3x weekly btw and ...,NaN,"<a href=""https://mobile.twitter.com"" rel=""nofo...",0.0,NaN,NaN,NaN,...,low,en,2019-05-22 12:20:28.237,{'created_at': 'Wed May 22 12:10:24 +0000 2019...,NaN,NaN,NaN,NaN,NaN,NaN
5,2019-05-22 12:20:36+00:00,1.131173e+18,1.131173e+18,easyjet was on a slippery slope when it charge...,NaN,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",0.0,NaN,NaN,NaN,...,low,en,2019-05-22 12:20:36.475,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2019-05-22 12:20:36+00:00,1.131173e+18,1.131173e+18,thanks i really needed the extra 2 hour delay...,NaN,"<a href=""http://twitter.com/download/iphone"" r...",0.0,NaN,NaN,NaN,...,low,en,2019-05-22 12:20:36.540,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14384,2019-05-23 11:42:26+00:00,1.131526e+18,1.131526e+18,were you invited to attend this?,NaN,"<a href=""http://twitter.com/download/iphone"" r...",0.0,NaN,NaN,3.046262e+08,...,low,en,2019-05-23 11:42:26.066,NaN,NaN,1.131507e+18,1.131507e+18,{'created_at': 'Thu May 23 10:28:34 +0000 2019...,"{'url': 'https://t.co/iLnuh7ejub', 'expanded':...",NaN
14385,2019-05-23 11:42:27+00:00,1.131526e+18,1.131526e+18,rt the queen sees how the uniform has evolve...,NaN,"<a href=""https://mobile.twitter.com"" rel=""nofo...",0.0,NaN,NaN,NaN,...,low,en,2019-05-23 11:42:27.109,{'created_at': 'Thu May 23 11:13:08 +0000 2019...,NaN,NaN,NaN,NaN,NaN,NaN
14386,2019-05-23 11:42:27+00:00,1.131526e+18,1.131526e+18,she looks amazing today!! 😍,"[33, 60]","<a href=""http://twitter.com"" rel=""nofollow"">Tw...",0.0,1.131512e+18,1.131512e+18,1.590887e+09,...,low,en,2019-05-23 11:42:27.469,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14387,2019-05-23 11:42:35+00:00,1.131526e+18,1.131526e+18,should happen more often for our service men...,"[26, 94]","<a href=""http://twitter.com/download/android"" ...",0.0,1.131484e+18,1.131484e+18,1.085556e+18,...,low,en,2019-05-23 11:42:35.858,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14388,2019-05-23 11:42:44+00:00,1.131526e+18,1.131526e+18,delayed 5hrs on flight ba0103 from lhr to cal...,NaN,"<a href=""http://twitter.com/download/iphone"" r...",1.0,NaN,NaN,1.833219e+07,...,low,en,2019-05-23 11:42:44.440,NaN,{'full_text': '@British_Airways delayed 5hrs o...,NaN,NaN,NaN,NaN,NaN