In [1]:
import pandas as pd
import json 
import numpy as np 
import sqlite3
from tools.cleaning import remove_duplicated_text

In [2]:
#Connect to the database
con = sqlite3.connect('..\database\sqlite-tools-win32-x86-3380300\database.db')

OperationalError: unable to open database file

In [3]:
#Query to pull thing down 
query_gen = '''
    SELECT *
    FROM general_tweets 
'''
df_data_gen = pd.read_sql_query(query_gen, con)

query_klm = '''
    SELECT *
    FROM KLM_tweets 
'''
df_data_klm = pd.read_sql_query(query_klm, con)

query_bri = '''
    SELECT *
    FROM british_airways_tweets 
'''
df_data_bri = pd.read_sql_query(query_bri, con)

In [4]:
#This database thing is fuking stupid. We need another solution
df_data_bri.set_index('', inplace=True)
df_data_gen.set_index('', inplace=True)
df_data_klm.set_index('', inplace=True);

In [5]:
#Drop some NA, I do remember I already did this before upload to database, but double check
df_data_drop_na = df_data_gen.dropna(subset=['user'])
len(df_data_gen), len(df_data_drop_na)

(134166, 134166)

In [12]:
#Use the function to remove duplicated
df_clean_klm = remove_duplicated_text(df_data_klm)
df_clean_bri = remove_duplicated_text(df_data_bri)
df_clean_gen = remove_duplicated_text(df_data_gen)

In [18]:
len(df_clean_gen), len(df_data_gen)

(134166, 134166)

In [44]:
#Turn to csv file to upload on database
df_clean_klm.to_csv('../database/CSV file/clean_klm_table.csv')
df_clean_bri.to_csv('../database/CSV file/clean_british_airways_table.csv')
df_clean_gen.to_csv('../database/CSV file/clean_general_table.csv')