In [1]:
import json 
import pandas as pd 
import numpy as np 
import sqlite3 
from datetime import datetime

In [5]:
con = sqlite3.connect('..\database\sqlite-tools-win32-x86-3380300\database.db')

In [6]:
#pull down data from general_tweets and british_airway_tweets
#the text attribute can be used for further analysis
query = '''
    SELECT gen.id as general_tweet_id, bri.id as British_reply_tweet_id, gen.text,
    gen.timestamp_ms as gen_timestamp_ms, bri.timestamp_ms as British_timestamp_ms,
    gen.user as gen_user, bri.user as British_user
    
    FROM general_tweets as gen, british_airways_tweets as bri
    
    WHERE gen.id = bri.in_reply_to_status_id AND bri.user_id = '18332190'
'''

In [8]:
df_data = pd.read_sql_query(query, con)
df_data

,general_tweet_id,British_reply_tweet_id,text,gen_timestamp_ms,British_timestamp_ms,gen_user,British_user
0,1.1311730105080627e+18,1.1311759953215201e+18,Thanks @British_Airways I really needed the ex...,2019-05-22 12:20:36.540,2019-05-22 12:32:28.175,"{'id': 1662186764, 'id_str': '1662186764', 'na...","{'id': 18332190, 'id_str': '18332190', 'name':..."
1,1.1311748858652058e+18,1.1311778621014262e+18,@British_Airways hello how can i contact your ...,2019-05-22 12:28:03.660,2019-05-22 12:39:53.250,"{'id': 131068688, 'id_str': '131068688', 'name...","{'id': 18332190, 'id_str': '18332190', 'name':..."
2,1.131178746914984e+18,1.1311795259440865e+18,"Bye, bye ðŸ‡¬ðŸ‡§, hello ðŸ‡¯ðŸ‡µ \n\nSee you ...",2019-05-22 12:43:24.206,2019-05-22 12:46:29.941,"{'id': 1299769218, 'id_str': '1299769218', 'na...","{'id': 18332190, 'id_str': '18332190', 'name':..."
3,1.1311760960058614e+18,1.1311801163426611e+18,@British_Airways Yes it is. I do not want to c...,2019-05-22 12:32:52.180,2019-05-22 12:48:50.703,"{'id': 1347415819, 'id_str': '1347415819', 'na...","{'id': 18332190, 'id_str': '18332190', 'name':..."
4,1.131175229424853e+18,1.1311810724090839e+18,"Not the best photo, taken from inside a @briti...",2019-05-22 12:29:25.571,2019-05-22 12:52:38.647,"{'id': 236935150, 'id_str': '236935150', 'name...","{'id': 18332190, 'id_str': '18332190', 'name':..."
...,...,...,...,...,...,...,...
6004,1.134870227559297e+18,1.1350999629146849e+18,@British_Airways flight from LHR to IAD has be...,2019-06-01 17:12:01.776,2019-06-02 08:24:54.953,"{'id': 27912865, 'id_str': '27912865', 'name':...","{'id': 18332190, 'id_str': '18332190', 'name':..."
6005,1.134875288326824e+18,1.1351009727143526e+18,@British_Airways for some reason you wonâ€™t i...,2019-06-01 17:32:08.357,2019-06-02 08:28:55.708,"{'id': 365387378, 'id_str': '365387378', 'name...","{'id': 18332190, 'id_str': '18332190', 'name':..."
6006,1.134875288326824e+18,1.1351009727143526e+18,@British_Airways for some reason you wonâ€™t i...,2019-06-01 17:32:08.357,2019-06-02 08:28:55.708,"{'id': 365387378, 'id_str': '365387378', 'name...","{'id': 18332190, 'id_str': '18332190', 'name':..."
6007,1.1348756883292078e+18,1.13510108224444e+18,I hate @British_Airways everything about them ...,2019-06-01 17:33:43.725,2019-06-02 08:29:21.822,"{'id': 102431583, 'id_str': '102431583', 'name...","{'id': 18332190, 'id_str': '18332190', 'name':..."
6008,1.1348756883292078e+18,1.13510108224444e+18,I hate @British_Airways everything about them ...,2019-06-01 17:33:43.725,2019-06-02 08:29:21.822,"{'id': 102431583, 'id_str': '102431583', 'name...","{'id': 18332190, 'id_str': '18332190', 'name':..."

In [10]:
#Extract the duration into seconds by attribute .seconds
df_data['gen_timestamp_ms'] = pd.to_datetime(df_data['gen_timestamp_ms'])
df_data['British_timestamp_ms'] = pd.to_datetime(df_data['British_timestamp_ms'])
df_data['reply_time'] = df_data['British_timestamp_ms'] - df_data['British_timestamp_ms']
df_data['reply_time_in_seconds'] = pd.Series([df_data['reply_time'].iloc[i].seconds for i in range(len(df_data))])
df_data.to_csv('../database/CSV file/british_airways_conversation.csv')