In [2]:
import pandas as pd
import json 
import numpy as np 
import sqlite3

In [20]:
#Connect to the database
con = sqlite3.connect('..\database\sqlite-tools-win32-x86-3380300\database.db')

In [21]:
#Query to pull thing down 
query_gen = '''
    SELECT *
    FROM general_tweets 
'''
df_data_gen = pd.read_sql_query(query_gen, con)

query_klm = '''
    SELECT *
    FROM KLM_tweets 
'''
df_data_klm = pd.read_sql_query(query_klm, con)

query_bri = '''
    SELECT *
    FROM british_airways_tweets 
'''
df_data_bri = pd.read_sql_query(query_bri, con)

In [22]:
#Drop some NA, I do remember I already did this before upload to database, but double check
df_data_drop_na = df_data_gen.dropna(subset=['user'])
len(df_data_gen), len(df_data_drop_na)

(255017, 255017)

In [11]:
#This code I got from Xiaoya with some editing 
def remove_duplicated_text(df_data: pd.DataFrame) -> pd.DataFrame:
    """
    Function to remove duplicated datapoints that send by users but not airlines.
    Tweets are considered to be a duplicate if they are sent by the same user to the same tweet. 
    This function resets index.
    
    parameter: df_data: DataFrame
    return: DataFrame
    """
    #remove duplicated tweets sent by users not KLM or Bri
    df_tweets = df_data.reset_index()
    df_tweets = df_tweets.dropna(subset=['user'])
    du = df_tweets.duplicated(subset=['text', 'user_id', 'in_reply_to_status_id'])
    #get a list index of duplicated text (datapoint)
    lst = [index for index, values in du.items() if values == True]
    #define airline dictionary
    airline = {
        'KLM' : 56377143, 
        'AirFrance' : 106062176, 
        'British_Airways' : 18332190, 
        'AmericanAir' : 22536055, 
        'Lufthansa' : 124476322, 
        'AirBerlin' : 26223583, 
        'AirBerlin assist' : 2182373406, 
        'easyJet' : 38676903, 
        'RyanAir' : 1542862735, 
        'SingaporeAir' : 253340062, 
        'Qantas' : 218730857, 
        'EtihadAirways' : 45621423, 
        'VirginAtlantic' : 20626359 
    }
    #drop the duplicated texts that not from any airlines
    drop_lst = []
    for i in lst:
        if df_tweets.loc[i, 'user_id'] not in airline.values():
            drop_lst.append(i)
    df_tweets.drop(index=drop_lst, inplace=True)
    return df_tweets
    
df_clean_data = remove_duplicated_text(df_data)
(len(df_data), len(df_clean_data))

(255017, 134166)

In [19]:
df_data_klm.reset_index()

ValueError: cannot insert level_0, already exists

In [17]:
df_clean_klm = remove_duplicated_text(df_data_klm)
df_clean_bri = remove_duplicated_text(df_data_bri)
df_clean_gen = remove_duplicated_text(df_data_gen)

ValueError: cannot insert level_0, already exists