#### 1. Import library

In [48]:
import json 
import pandas as pd 
import numpy as np 
from typing import Dict, List, Tuple 
import sqlite3

#### 2. Load the data onto DataFrame

In [4]:
# load the json file of one month onto dataframe 
df_data = pd.read_json('../data/airlines-1558527599826.json', lines=True)

In [6]:
#Load one twitter 
df_data.iloc[[0]].T;

In [7]:
# load one user data from one twitter
df_user = pd.DataFrame(pd.Series(df_data['user'][0]))
df_user;

In [52]:
conn = sqlite3.connect('../data/test.db')

In [59]:
query = """
    SELECT*
    FROM airline
"""
df_test = pd.read_sql_query(query, conn)

In [60]:
df_test.head()

Empty DataFrame
Columns: [id]
Index: []

#### 3. Cleaning the data

In [47]:
df_data.head(10)

,created_at,id,id_str,text,display_text_range,source,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,...,filter_level,lang,timestamp_ms,retweeted_status,extended_tweet,quoted_status_id,quoted_status_id_str,quoted_status,quoted_status_permalink,delete
0,2019-05-22 12:20:00+00:00,1.131173e+18,1.131173e+18,La ruta de easyJet entre Londres y Menorca tra...,"[0, 113]","<a href=""https://about.twitter.com/products/tw...",0.0,NaN,NaN,NaN,...,low,es,2019-05-22 12:20:00.406,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-05-22 12:20:01+00:00,1.131173e+18,1.131173e+18,RT @bttr_as1: @goody_tracy Hereâ€™s a list of so...,NaN,"<a href=""http://twitter.com/download/iphone"" r...",0.0,NaN,NaN,NaN,...,low,en,2019-05-22 12:20:01.645,{'created_at': 'Tue May 21 19:43:11 +0000 2019...,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-05-22 12:20:02+00:00,1.131173e+18,1.131173e+18,@British_Airways,NaN,"<a href=""http://twitter.com/download/android"" ...",0.0,1.131033e+18,1.131033e+18,3.943766e+08,...,low,und,2019-05-22 12:20:02.560,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-05-22 12:20:12+00:00,1.131173e+18,1.131173e+18,RT @TheRaceRadio: Nice change by @AmericanAir....,NaN,"<a href=""http://twitter.com/download/android"" ...",0.0,NaN,NaN,NaN,...,low,en,2019-05-22 12:20:12.449,{'created_at': 'Wed May 22 02:53:26 +0000 2019...,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-05-22 12:20:28+00:00,1.131173e+18,1.131173e+18,RT @sandeeprrao1991: BREAKING:-\nKLM to fly 3x...,NaN,"<a href=""https://mobile.twitter.com"" rel=""nofo...",0.0,NaN,NaN,NaN,...,low,en,2019-05-22 12:20:28.237,{'created_at': 'Wed May 22 12:10:24 +0000 2019...,NaN,NaN,NaN,NaN,NaN,NaN
5,2019-05-22 12:20:36+00:00,1.131173e+18,1.131173e+18,EasyJet was on a slippery slope when it charge...,NaN,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",0.0,NaN,NaN,NaN,...,low,en,2019-05-22 12:20:36.475,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2019-05-22 12:20:36+00:00,1.131173e+18,1.131173e+18,Thanks @British_Airways I really needed the ex...,NaN,"<a href=""http://twitter.com/download/iphone"" r...",0.0,NaN,NaN,NaN,...,low,en,2019-05-22 12:20:36.540,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2019-05-22 12:20:43+00:00,1.131173e+18,1.131173e+18,@easyJet It is impossible to get in contact wi...,"[9, 140]","<a href=""http://twitter.com/download/iphone"" r...",1.0,1.131101e+18,1.131101e+18,3.867690e+07,...,low,en,2019-05-22 12:20:43.141,NaN,{'full_text': '@easyJet It is impossible to ge...,NaN,NaN,NaN,NaN,NaN
8,2019-05-22 12:20:49+00:00,1.131173e+18,1.131173e+18,So @AmericanAir @EWRairport lied to an old lad...,NaN,"<a href=""http://twitter.com/download/iphone"" r...",1.0,NaN,NaN,NaN,...,low,en,2019-05-22 12:20:49.561,NaN,{'full_text': 'So @AmericanAir @EWRairport lie...,NaN,NaN,NaN,NaN,NaN
9,2019-05-22 12:20:55+00:00,1.131173e+18,1.131173e+18,"@BilalEksiTHY TK Elite Plus Helpdesk'e, Luftha...",NaN,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",1.0,NaN,NaN,7.888827e+17,...,low,tr,2019-05-22 12:20:55.886,NaN,{'full_text': '@BilalEksiTHY TK Elite Plus Hel...,NaN,NaN,NaN,NaN,NaN

In [46]:
df_data[['source']].head()

                                              source
0  <a href="https://about.twitter.com/products/tw...
1  <a href="http://twitter.com/download/iphone" r...
2  <a href="http://twitter.com/download/android" ...
3  <a href="http://twitter.com/download/android" ...
4  <a href="https://mobile.twitter.com" rel="nofo...

In [29]:
# airline id dictionary
airline_id: Dict[str, int] = {
'KLM' : 56377143, 
'AirFrance' : 106062176, 
'British_Airways' : 18332190, 
'AmericanAir' : 22536055, 
'Lufthansa' : 124476322, 
'AirBerlin' : 26223583, 
'AirBerlin assist' : 2182373406, 
'easyJet' : 38676903, 
'RyanAir' : 1542862735, 
'SingaporeAir' : 253340062, 
'Qantas' : 218730857, 
'EtihadAirways' : 45621423, 
'VirginAtlantic' : 20626359
    }

In [41]:
lst_of_id: List[int] = [i for i in airline_id.values()]

In [42]:
df_user.loc['id'][0] in lst_of_id

False